@use "../../partials/base/variable" as *;

.metrological1 {
  &__img {
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 3px;
  }

  &__link--bold {
    color: $accent-color;
    font-weight: 700;
  }
}