@use "./variable" as *;

.is-hidden {
  display: none !important;
}

.neg-m {
  margin: -15px;
}

:root {
  --page-gutter: 15px;
}

.upper {
  text-transform: uppercase;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}


@media (max-width: 359px) {
  :root {
    --page-gutter: 10px;
  }
}

@media (min-width: 768px) {
  :root {
    --page-gutter: 15px;
  }
}

.layout {
  padding-inline: var(--page-gutter);
}

.full-container {
  width: 100%;
  max-width: var(--container-max);
  margin-inline: auto;
}

.full-bcg {
  margin-inline: calc(var(--page-gutter) * -1);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
  -webkit-appearance: none;
}

p {
  text-indent: 32px;
  margin-top: 7px;
}

ul,
ol {
  margin-top: 5px;
  margin-bottom: 10px;
  list-style: none;

  li::marker{
   margin-left: 32px;
  }
}

main ul {
  list-style: disc;
  // padding-left: 32px;
}

main ol {
  list-style: decimal;
  // padding-left: 32px;
}


h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 15px 0;
}

.title {
  font-family: $second-family;
  font-weight: 400;
}


h1{
  font-size: 26px;
}

h2{
  font-size: 22px;
}

h3{
  font-size: 20px;
}

h4{
  font-size: 18px;
}

h5{
  font-size: 16px;
}

h6{
  font-size: 14px;
}