@use "../base/variable" as *;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

html {
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $main-font;
}

body {
  color: $text-color;
  box-sizing: content-box;
  max-width: 100%;
  margin: 0;
  overscroll-behavior-y: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // margin: 0;
  padding: 0;
  line-height: 1.3;
}

p,
a,
span,
div {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  color: $text-color;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.25;
}

header ul,
header ol,
footer ul,
footer ol {
  list-style: none;
}

header li,
footer li {
  margin-left: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  font-family: $main-font;
  color: $text-color;
}

button,
input {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}