@font-face {
  font-family: pfdintextcomppro-light;
  src: url("./../../assets/font/pfdintextcomppro-light.woff");
  font-display: swap;
}

@font-face {
  font-family: pfdintextcomppro-regular;
  src: url("./../../assets/font/pfdintextcomppro-regular.woff");
  font-display: swap;
}