@font-face {
  font-family: pfdintextcomppro-light;
  src: url("./assets/font/pfdintextcomppro-light.woff");
}
@font-face {
  font-family: pfdintextcomppro-regular;
  src: url("./assets/font/pfdintextcomppro-regular.woff");
}
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

body {
  font-family: "DM Sans", sans-serif;
  color: #212121;
  box-sizing: content-box;
  max-width: 100%;
  margin: 0;
}

p,
a {
  margin: 0;
  padding: 0;
  font-family: inherit;
  color: #212121;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: inherit;
  color: #212121;
}

button,
input {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

.is-hidden {
  display: none !important;
}

.connect {
  border-top: 0.5px solid #e3e3e3;
  padding: 32px 15px;
}
.connect__list, .connect__item {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.connect__item {
  gap: 20px;
}
.connect__item p {
  font-size: 16px;
}
.connect__title {
  font-weight: 600;
  font-size: 1.2rem !important;
}

.footer-info {
  display: flex;
  flex-direction: column;
}
.footer-info__disclaimer {
  font-size: 0.9rem;
  padding: 16px 15px;
}
.footer-info__disclaimer:first-child {
  margin-bottom: -20px;
}
.footer-info__copyright {
  font-size: 0.9rem;
  padding: 0 15px;
  padding-bottom: 16px;
  margin-left: auto;
}
.footer-info__copyright span {
  color: #848484;
}
.footer-info__item {
  padding: 15px;
}
.footer-info__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 0.5px solid #e3e3e3;
}

@media screen and (max-width: 359px) {
  .connect {
    padding: 32px 10px;
  }
  .footer-info__disclaimer {
    padding: 16px 10px;
  }
  .footer-info__copyright {
    padding: 0 10px;
    padding-bottom: 16px;
  }
  .footer-info__item {
    padding: 10px;
  }
  .footer-info__link {
    font-size: 0.9rem;
  }
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b30006;
  gap: 16px;
  top: 0;
  left: 0;
  z-index: 10;
}
.header__logo-icon-text {
  display: none;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 1;
  padding: 12px 15px;
}
.header__logo-icon {
  width: 48px;
  height: 32px;
}
.header__logo-text {
  white-space: nowrap;
  font-family: "pfdintextcomppro-regular", sans-serif;
  font-size: 0.85rem;
  color: #fefefe;
  text-align: left;
}
.header__logo-text span.header__logo-subtext {
  font-family: "pfdintextcomppro-light", sans-serif;
  font-size: 0.75rem;
}
.header__phone-button {
  padding: 18px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__phone-icon {
  width: 20px;
  height: 20px;
}
.header__bottom {
  background-color: #fefefe;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
  top: var(--header-inner-height);
  z-index: 100;
}
.header__search--false {
  font-size: 14px;
  white-space: nowrap;
  color: rgb(104, 103, 103);
  text-overflow: ellipsis;
}
.header__button {
  flex: 0 0 auto;
  line-height: 0;
  padding: 15px;
}
.header__button--left {
  border-right: 1px solid #ccc;
}
.header__button--right {
  border-left: 1px solid #ccc;
}
.header__button-icon {
  width: 20px;
  height: 20px;
}
.header__search-cont {
  flex: 1 1 0;
  min-width: 0;
}
.header__search-cont .header__search--false {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header--false {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 1 0;
}
.header__search-icon {
  width: 18px;
  height: 18px;
  flex: 0 0 auto;
  margin-left: 8px;
}
.header__search {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 15px;
  z-index: 10000;
  background-color: #fefefe;
}
.header__search-wrap {
  flex: 1 1 0;
  min-width: 44px;
}

@media screen and (max-width: 359px) {
  .header__search {
    height: 46px;
  }
  .header__bottom.header__bottom--shifted {
    transform: translateY(110%);
  }
  .header__logo-text {
    display: none;
  }
  .header__logo-icon-text {
    display: block;
    width: 130px;
    height: 32px;
  }
}
.header__overlay {
  position: fixed;
  top: 67px;
  left: 0;
  right: 0;
  z-index: 1000;
  transform: translateY(0);
  transition: none;
}

.header__overlay-inner {
  background: #b30006;
  color: white;
  text-align: center;
  height: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__overlay-search {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  box-shadow: 0 0 5px #aaa;
}

main {
  padding: 15px;
  padding-top: 115px;
  text-align: justify;
}

.message__btn {
  width: 64px;
  height: 64px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: #fefefe;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s ease;
}

.message__btn.hide {
  opacity: 0;
  pointer-events: none;
}

.message__icon {
  width: 40px;
  height: 40px;
}

.submenu-sticker {
  position: sticky;
  background-color: #b30006;
  color: #fefefe;
  margin: 15px 0;
  padding: 10px;
  top: 105px;
  transition: transform 0.3s linear;
}

.menu {
  z-index: 1;
  padding: 0;
  overflow: hidden;
}

.tab {
  position: relative;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab__label .arrow {
  width: 16px;
  height: 16px;
  transition: transform 0.3s;
  fill: #fefefe;
}
.tab input:checked + .tab__label .arrow {
  transform: rotate(180deg);
}
.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease;
}
.tab input:checked ~ .tab__content {
  max-height: 300px;
}
.tab .tab:has(input:checked) + .tab label {
  border-top: 0.25px solid rgba(90, 96, 112, 0.5411764706);
}
.tab__content li a {
  display: block;
  padding: 18px;
  color: #212121;
  background-color: #292361;
  text-decoration: none;
  color: #fefefe;
}

.tab__label,
.menu > li > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  font-size: 18px;
  color: #fefefe;
  background: #292361;
  font-weight: 600;
  border-top: 0.25px solid rgba(90, 96, 112, 0.5411764706);
  color: white;
}

.mobile-menu__wrap {
  position: absolute;
  inset: 0;
  width: 100%;
  z-index: 10001;
  background-color: #fefefe;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out, visibility 0s linear 0.3s;
  visibility: hidden;
}

.mobile-menu__wrap.open {
  transform: translate(0);
  transition: transform 0.3s ease-in-out;
  visibility: visible;
}

.mobile-menu__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 15px;
  padding-right: 10px;
  border-bottom: 1px solid #c2c2c2;
  background-color: #fefefe;
}
.mobile-menu__close-btn {
  width: 44px;
  height: 44px;
  line-height: 0;
}
.mobile-menu__icon {
  width: 44px;
  height: 44px;
}
.mobile-menu__arrow {
  width: 16px;
  height: 16px;
  fill: #212121 !important;
  transform: rotate(-90deg);
  margin-left: auto;
}
.mobile-menu__content > li > a {
  background-color: #fefefe !important;
  color: #212121 !important;
  font-size: 1.5rem !important;
  font-weight: 500 !important;
}
.mobile-menu input:checked + label svg {
  transform: rotate(180deg) !important;
}
.mobile-menu .tab__label,
.mobile-menu .tab__content li a {
  color: #212121;
  background-color: #fefefe !important;
  font-size: 1.2rem;
  font-weight: 500;
}
.mobile-menu .tab__label svg,
.mobile-menu .tab__content li a svg {
  fill: #212121;
  min-height: 16px;
  max-width: 16px;
  max-height: 16px;
  min-width: 16px;
}
.mobile-menu > li label {
  border-top: none;
}
.mobile-menu__item--link {
  padding: 16px 15px;
  font-size: 1.2rem !important;
  font-weight: 500 !important;
  background-color: #fefefe !important;
  color: #212121 !important;
  padding-right: 20px;
  border-bottom: 1px solid #c2c2c2;
  width: 100%;
}
.mobile-menu__item--link button {
  font-size: inherit;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-menu__item--link a {
  display: block;
  width: 100%;
}
.mobile-menu__lang {
  background-color: #fefefe;
  padding: 20px;
}
.mobile-menu__lang-btn {
  display: flex;
  align-items: center;
  gap: 48px;
  border-radius: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
  padding-right: 10px;
  font-size: 1.2rem;
}
.mobile-menu__back-btn svg {
  width: 27px;
  height: 27px;
  transform: rotate(90deg);
}

.mobile-menu__wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 101;
  background-color: #fefefe;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out, visibility 0s linear 0.3s;
  visibility: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 359px) {
  .mobile-menu__top {
    padding: 12px 0px;
    padding-left: 10px;
  }
  .mobile-menu__item, .mobile-menu__link {
    padding: 16px 10px;
  }
  .mobile-menu__lang-btn {
    padding: 10px;
  }
  .mobile-menu__lang {
    padding: 20px 10px;
  }
}
.contacts {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s ease;
  transform: translateY(100%);
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fefefe;
  z-index: 9999;
  text-align: center;
  overflow-y: auto;
  overflow: hidden;
}
.contacts > div {
  overflow: auto;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contacts__logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts__logo-icon {
  height: 80px;
}
.contacts__text {
  margin-top: 10px;
  margin-bottom: 8px;
}
.contacts__subtext {
  margin: 4px 0px;
  font-size: 0.8rem;
  color: rgba(33, 33, 33, 0.8431372549);
}
.contacts--visible {
  transform: translateY(0);
}
.contacts__group {
  width: 100%;
  padding: 0 15px;
  margin-top: 20px;
}
.contacts__close-btn {
  z-index: 9999;
  padding-right: 10px;
  padding-top: 10px;
  margin-left: auto;
  position: fixed;
  top: 0;
  right: 0;
}
.contacts__close-btn-icon {
  width: 44px;
  height: 44px;
}
.contacts__group--info {
  display: flex;
  flex-direction: column;
}
.contacts__group--info div .contacts__text:last-child {
  margin-top: 2px;
}
.contacts__group--phones .contacts__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 4vh;
}
.contacts__group--phones .contacts__link {
  font-size: 1.1rem;
  color: #b30006;
}
.contacts__group--phones .contacts__desc {
  margin-top: 3px;
  font-size: 0.8rem;
}
.contacts__group--phones .contacts__desc:nth-child(2) {
  font-size: 1rem;
}
.contacts__social-icon {
  width: 32px;
  height: 32px;
}
.contacts__group--button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.contacts__group--button .contacts__button {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  border: 1px solid #aaa;
}
.contacts__group--button .contacts__button-icon {
  width: 20px;
  height: 20px;
  transform: rotate(-90deg);
}
.contacts__group--social {
  padding: 0;
  border-top: 0.25px solid #e2e2e2;
}
.contacts__group--social .contacts__social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts__group--social .contacts__social-link {
  display: block;
  padding: 16px 32px;
}
.contacts__group--social .contacts__social-icon {
  width: 32px;
  height: 32px;
  fill: #212121;
}

.contacts > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: flex-start;
}

.search--open {
  transform: translateX(0) !important;
}

.search--closing {
  transform: translateX(-100%) !important;
}

.no-transition {
  transition: none !important;
}

.search {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: #fefefe;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}
.search__wrap {
  position: relative;
  z-index: 101;
  width: 100%;
  transition: all 0.3s ease;
  background-color: #fefefe;
  display: flex;
  align-items: center;
}
.search__wrap button {
  padding: 15px 15px;
}
.search__input {
  border: none;
  font-size: 0.875rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
  min-width: 0;
  margin-top: 3px;
  z-index: 1000;
  padding-right: 20px;
}
.search__input:focus-visible {
  outline: none;
}
.search__input::-moz-placeholder {
  font-family: "DM Sans", sans-serif;
}
.search__input::placeholder {
  font-family: "DM Sans", sans-serif;
}
.search__arrow {
  width: 18px;
  height: 18px;
  transform: rotate(90deg);
  margin-top: 4px;
}
.search__result {
  background-color: #fefefe;
  display: block;
  border-top: 1px solid #ccc;
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  overflow-y: auto;
  z-index: 10000;
}
.search__result li svg {
  transform: rotate(-90deg);
}
.search__result a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}
.search__result a:first-child {
  font-size: 18px;
  font-weight: 600;
}
.search__result a:last-child {
  border-bottom: 1px solid #ccc;
}/*# sourceMappingURL=style.css.map */