@use "./variable" as *;

@font-face {
  font-family: pfdintextcomppro-light;
  src: url("./assets/font/pfdintextcomppro-light.woff");
}

@font-face {
  font-family: pfdintextcomppro-regular;
  src: url("./assets/font/pfdintextcomppro-regular.woff");
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

body {
  font-family: $main-font;
  color: $text-color;
  box-sizing: content-box;
  max-width: 100%;
  margin: 0;
  // overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

p,
a {
  margin: 0;
  padding: 0;
  font-family: inherit;
  color: $text-color;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: inherit;
  color: $text-color;
}

button,
input {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

.is-hidden {
  display: none !important;
}

.neg-m {
  margin: -15px;
}

:root {
  --page-gutter: 15px;
}

@media (max-width: 359px) {
  :root {
    --page-gutter: 10px;
  }
}
@media (min-width: 768px) {
  :root {
    --page-gutter: 15px;
  }
}

.layout {
  padding-inline: var(--page-gutter);
}

.full-container {
width: 100%;
  max-width: var(--container-max);
  margin-inline: auto;
}

.full-bcg {
  margin-inline: calc(var(--page-gutter) * -1);
  padding-inline: var(--page-gutter);
}