.connect {
  border-top: 0.5px solid #e3e3e3;
  padding: 32px 15px;

  &__list,
  &__item {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__item {
    gap: 20px;

    p {
      font-size: 16px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 1.2rem !important;
  }
}

.footer-info {
  display: flex;
  flex-direction: column;

  &__disclaimer {
    font-size: 0.9rem;
    padding: 16px 15px;
  }

  &__disclaimer:first-child {
    margin-bottom: -20px;
  }

  &__copyright {
    font-size: 0.9rem;
    padding: 0 15px;
    padding-bottom: 16px;
    margin-left: auto;

    span {
      color: #848484;
    }
  }
  &__item {
    padding: 15px;
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 0.5px solid #e3e3e3;
  }
}

@media screen and (max-width: 359px) {
  .connect {
    padding: 32px 10px;
  }

  .footer-info {
    &__disclaimer {
      padding: 16px 10px;
    }

    &__copyright {
      padding: 0 10px;
      padding-bottom: 16px;
    }

    &__item {
      padding: 10px;
    }

    &__link {
      font-size: 0.9rem;
    }
  }
}
