@use "./variable" as *;
.header {
  
  // Верхняя часть
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $accent-color;
    top: 0;
    left: 0;
    z-index: 10;
  }

  &__logo-icon-text {
    display: none;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 1;
    padding: 12px 15px;
  }

  &__logo-icon {
    width: 48px;
    height: 32px;
  }

  &__logo-text {
    white-space: nowrap;
    font-family: $second-family;
    font-size: 0.85rem;
    color: $second-text;
    text-align: left;

    span.header__logo-subtext {
      font-family: $font-family;
      font-size: 0.75rem;
    }
  }

  &__phone-button {
    padding: 18px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__phone-icon {
    width: 20px;
    height: 20px;
  }

  // Нижняя часть
  &__bottom {
    background-color: $second-text;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    top: var(--header-inner-height);
    z-index: 100;
  }

  &__search--false {
    font-size: 14px;
    white-space: nowrap;
    color: rgb(104, 103, 103);
    text-overflow: ellipsis;
  }

  &__button {
    flex: 0 0 auto;
    line-height: 0;
    padding: 15px;
  }

  &__button--left {
    border-right: 1px solid #ccc;
  }

  &__button--right {
    border-left: 1px solid #ccc;
  }

  &__button-icon {
    width: 20px;
    height: 20px;
  }

  &__search-cont {
    flex: 1 1 0;
    min-width: 0;

    .header__search--false {
      display: block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &--false {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1 0;
  }

  &__search-icon {
    width: 18px;
    height: 18px;
    flex: 0 0 auto;
    margin-left: 8px;
  }
  &__search {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 15px;
    z-index: 10000;
    background-color: $second-text;
  }

  &__search-wrap {
    flex: 1 1 0;
    min-width: 44px;
  }
}

@media screen and (max-width: 359px) {
  .header {
    &__search {
      height: 46px;
    }

    &__bottom.header__bottom--shifted {
      transform: translateY(110%);
    }

    &__logo-text {
      display: none;
    }

    &__logo-icon-text {
      display: block;
      width: 130px;
      height: 32px;
    }
  }}

.header__overlay {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 1000;
  transform: translateY(0);
  transition: none;
}

.header__overlay-inner {
  background: $accent-color;
  color: white;
  text-align: center;
  height: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__overlay-search {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  box-shadow: 0 0 5px #aaa;
}
