@use "./variable" as *;

.menu {
  z-index: 1;
  padding: 0;
  overflow: hidden;
}

.tab {
  position: relative;

  & input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  &__label .arrow {
    width: 16px;
    height: 16px;
    transition: transform 0.3s;
    fill: $second-text;
  }

  & input:checked + .tab__label .arrow {
    transform: rotate(180deg);
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease;
  }

  & input:checked ~ &__content {
    max-height: 300px;
  }

  .tab:has(input:checked) + .tab label {
    border-top: 0.25px solid #5a60708a;
  }

  &__content li a {
    display: block;
    padding: 18px;
    color: $text-color;
    background-color: $second-accent;
    text-decoration: none;
    color: #fefefe;
  }
}

.tab__label,
.menu > li > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  font-size: 18px;
  color: #fefefe;
  background: $second-accent;
  font-weight: 600;
  border-top: 0.25px solid #5a60708a;
  color: white;
}
