@use "./variable" as *;

.mobile-menu__wrap {
  position: absolute;
  inset: 0;
  width: 100%;
  z-index: 10001;
  background-color: $second-text;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out, visibility 0s linear 0.3s;
  visibility: hidden;
}

.mobile-menu__wrap.open {
  transform: translate(0);
  transition: transform 0.3s ease-in-out;
  visibility: visible;
}

.mobile-menu {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 15px;
    padding-right: 10px;
    border-bottom: 1px solid #c2c2c2;
    background-color: $second-text;
  }

  &__close-btn {
    width: 44px;
    height: 44px;
    line-height: 0;
  }

  &__icon {
    width: 44px;
    height: 44px;
  }

  .arrow {
    width: 16px;
    height: 16px;
    fill: $text-color !important;
    transform: rotate(-90deg);
    margin-left: auto;
  }

  &__content > li > a {
    background-color: #fefefe !important;
    color: #212121 !important;
    font-size: 1.5rem !important;
    font-weight: 500 !important;
  }

  input:checked + label svg {
    transform: rotate(180deg) !important;
  }
  .tab__label,
  .tab__content li a {
    color: #212121;
    background-color: #fefefe !important;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0;

    svg {
      fill: $text-color;
      min-height: 16px;
      max-width: 16px;
      max-height: 16px;
      min-width: 16px;
    }
  }

  // .tab__label:first-child{
  //   padding-bottom: 10px !important;
  // }

  // .tab__content li a {
  //   padding: 15px 0px;
  //   font-size: 1rem;
  // }

  & > li label {
    border-top: none;
  }

  &__item {
    font-size: 1.2rem !important;
    font-weight: 500 !important;
    background-color: #fefefe !important;
    color: #212121 !important;
    border-bottom: 1px solid #c2c2c2;
    width: 100%;

    button {
      font-size: inherit;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    a,
    label {
      display: flex !important;
      align-items: center !important;
      justify-content: space-between !important;
      width: 100%;
      padding: 16px 15px !important;
      padding-right: 20px !important;
      display: inline-block;
    }
  }

  &__item--link {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item--desc {
    a {
      display: flex !important;
      align-items: start !important;
      flex-direction: column;

      span {
        font-size: 0.8rem;
        color: rgba(33, 33, 33, 0.8);
      }
    }
  }

  &__lang {
    background-color: $second-text;
    padding: 20px;
  }

  &__lang-btn {
    display: flex;
    align-items: center;
    gap: 48px;
    border-radius: 30px;
    box-shadow: $shadow;
    padding: 10px 15px;
    padding-right: 10px;
    font-size: 1.2rem;
  }

  &__back-btn {
    svg {
      width: 27px;
      height: 27px;
      transform: rotate(90deg);
    }
  }
}

.mobile-menu__wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $second-text;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out, visibility 0s linear 0.3s;
  visibility: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 359px) {
  .mobile-menu {
    &__top {
      padding: 12px 0px;
      padding-left: 10px;
    }

    // &__item,
    // &__link {
    //   padding: 16px 10px;
    // }

    &__lang-btn {
      padding: 10px;
    }

    &__lang {
      padding: 20px 10px;
    }
  }
}
