@use "./variable" as *;

:root {
  --cols: 2;
}

.product {
  &__title--main {
    font-family: $font-family;
    font-size: 26px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: max-height 0.3s ease;
    max-height: 3em;
  }

  &__title--main.expanded {
    -webkit-line-clamp: unset;
    max-height: none;
  }

  &__butn-cont {
    display: flex;
    align-items: center;
    gap: var(--page-gutter);
    padding-top: 20px;
  }

  @media screen and (max-width: 400px) {
    &__butn-cont {
      flex-wrap: wrap;
      gap: 10px;
    }
  }

  &__butn {
    padding: 12px 15px;
    width: 100%;
    border-radius: 8px;
    font-size: 14px;
    min-width: 155px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    svg {
      fill: $accent-color;
    }
  }

  &__butn:first-child {
    border: 1px solid #d5d5d5;
    color: #b30006;
  }

  &__butn:last-child {
    background-color: #b30006;
    color: white;
  }

  &__title {
    font-size: 22px;
    font-family: $second-family;
    font-weight: 400;
    margin: 10px 0;

  }

  &__text {
    text-indent: 2em;
  }

  &__note {
    padding-top: 10px;
    border-radius: 15px;
    text-indent: 0;


    span {
      color: #666666;
      font-size: 16px;
    }
  }

  &__note--bold {
    font-weight: 700;
    font-size: 18px !important;
    color: $accent-color !important;
  }

  svg {
    width: 18px;
    height: 18px;
    fill: #212121;
  }

  &__slider-contain {
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }

  &__btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    z-index: 1;
  }

  &__btn--left {
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      transform: rotate(90deg);
    }
  }

  &__btn--right {
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      transform: rotate(-90deg);
    }
  }

  &__slider {

    display: flex;
    transition: transform 0.4s ease;

    li {
      flex: 0 0 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      width: 80vw;
      height: 80vw;
    }
  }



  &__cert {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
    will-change: transform;
  }

  &__cert-item:first-child {
    padding-left: 15px;
  }

  &__cert-item:last-child {
    padding-right: 15px;
  }

  &__cert-item img {
    width: 40px;
    height: 40px;
  }

  .slider__pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
    position: absolute;
    bottom: 2%;
    right: 3%;
  }

  .slider__dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #bbb;
    cursor: pointer;
    transition: width .3s ease, background .3s ease;
    ;
  }

  .slider__dot.active {
    background: #333;
    width: 13px;
    border-radius: 50px;
  }

  .slider__item {
    width: 350px;
    height: 350px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__breadcrumbs {
    overflow: hidden;
    padding-bottom: 0;
  }

  &__breadcrumb {
    overflow-x: auto;
    display: flex;
    padding: 15px;

    span {
      font-size: 14px;
      color: #a4a4a4;
      text-wrap: nowrap;
    }

  }

  .product__breadcrumb li:not(:last-child)>span::after {
    content: ">";
    margin: 0 15px;
    color: #a4a4a4;
  }

  &__docs-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    padding-bottom: 30px;
  }

  &-section__icon {
    min-width: 46px;
    height: 46px;

    img {
      width: 46px;
      padding-top: 5px;
    }
  }

  &-section__link {
    display: flex;
    width: auto;
    gap: 15px;
    min-height: 65px;

    p {
      text-align: left;
    }

    .product__docs-desc {
      color: #666;
    }

    .cont {
      display: flex;
      flex-direction: column;
      gap: 8px;
      line-height: 1.2;
      margin-bottom: 20px;
    }
  }

  &-section__meta,
  &-section__meta span {
    color: #999999;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;

    svg {
      fill: #999999;
      width: 16px;
      height: 16px;
      margin-left: 1px
    }
  }

  &-section__meta>span::after {
    content: "|";
    color: #999999;
    font-size: 12px;
  }

  &-section__meta>span:last-child::after {
    content: "";
  }

  &-gallery__desc {
    padding-inline: var(--page-gutter);
    position: relative;
  }

  &__quest {
    width: 100vw;
    max-height: 75vh;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99999;
    transition: transform 0.3s ease;
    transform: translateY(100%);
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    min-height: 30%;
  }

  &__close-btn {
    padding: 18px;
    padding-bottom: 8px;
    margin-left: auto;

    svg {
      width: 18px;
      height: 18px;
      fill: #212121;
    }
  }

  &__content {
    padding: var(--page-gutter);
    padding-top: 0;
  }

  &__backdrop {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99998;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    transform: translateY(100%);
  }

  &--visible {
    transform: translateY(0);
  }


  &__line {
    width: 60vw;
    background-color: #a2a2a2;
    height: 4px;
    border-radius: 8px;
    margin: 15px calc((100vw - 60vw) / 2);
  }
}

.open-title__contain {
  display: flex !important;
  align-items: center;
  width: 100%;
  gap: 5%;

  .open-title {
    font-size: 22px;
    font-family: "pfdintextcomppro-regular", sans-serif;
    font-weight: 400;
    margin: 10px 0;
  }
}

.order {
  &__subtitle {
    font-weight: 400;
  }

  &__checkbox {
    display: none;
  }

  &__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;
  }

  &__list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6 ease;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__checkbox:checked~.order__list {
    max-height: 2000px;
  }

  &__checkbox:checked~.order__title .order labek svg {
    transform: rotate(180deg);
  }

  &__item {
    display: flex;
    align-items: flex-start;
    gap: 40px;
  }

  &__item:last-child {
    padding-bottom: 20px;
  }

  &__step {
    font-family: $second-family;
    font-size: 55px;
    font-weight: 500;
    color: #9d9d9d;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__text {
    color: #666;

    a {
      color: $accent-color;
    }
  }
}

.description {
  position: relative;
  margin: 20px var(--page-gutter);
  margin-bottom: 10px;

  ul {
    list-style: disc !important;
  }

  li::marker {
    color: rgb(153, 153, 153);
  }

  &__toggle {
    display: none;
  }

  &__content {
    max-height: 8em;
    overflow: hidden;
    line-height: 1.6;
    position: relative;
  }

  &__content.o {
    max-height: max-content;
  }

  &__btn {
    margin-top: 12px;
    font-size: 14px;
    user-select: none;
    margin-left: auto;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 5px;
  }

  &__btn .close {
    display: none;
  }

  &__btn .open {
    display: inline-block;
  }

  & ul {
    list-style-type: disc;
    padding-left: 1em;
    margin: 0;
  }

  & li {
    color: #333;
    line-height: 1.6;

    &::marker {
      color: rgb(153, 153, 153);
      font-size: 14px;
    }
  }

  &__toggle:checked~&__controls &__btn svg {
    transform: rotate(180deg);
  }

  &__toggle {
    display: none;
  }

  &__content {
    max-height: 8em;
    overflow: hidden;
    line-height: 1.6;
  }

  &__content.o {
    max-height: max-content;
  }

  &__fade {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3em;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3 ease, transform 0.3s ease;
  }

  &__btn {
    margin-top: 12px;
    font-size: 14px;
    user-select: none;
    margin-left: auto;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 5px;
  }

  &__btn .close {
    display: none;
  }

  &__btn .open {
    display: inline-block;
  }

  &__toggle:checked~.description__content {
    max-height: 15000px;
  }

  &__toggle:checked~.description__content .description__fade {
    opacity: 0;
    transform: translateY(300px);
  }

  &__toggle:checked~.description__controls .open {
    display: none;
  }

  &__toggle:checked~.description__controls .close {
    display: inline-block;
  }

  &__toggle:checked~&__content {
    max-height: 15000px;
  }

  &__toggle:checked+&__content+&__fade+&__controls .open {
    display: none;
  }

  &__toggle:checked+&__content+&__fade+&__controls .close {
    display: inline-block;
  }

  & ul {
    list-style-type: disc;
    padding-left: 1em;
    margin: 0;
  }

  & li {
    color: #333;
    line-height: 1.6;

    &::marker {
      color: rgb(153, 153, 153);
      font-size: 14px;
    }
  }

  &__toggle:checked~&__controls &__btn svg {
    transform: rotate(180deg);
  }
}

.compare {
  min-width: 100vw;
  margin-top: 5px;
  margin-bottom: 20px;


  &__footnote {
    padding-bottom: 15px;

    span {
      font-size: 14px;
    }
  }

  &__body::-webkit-scrollbar,
  &__header::-webkit-scrollbar {
    display: none;
  }

  &__title,
  .cert__title {
    padding-inline: var(--page-gutter);

    label {
      display: flex !important;
      align-items: center;
      width: 100%;
      gap: 5%;
    }
  }

  &__header-scroll {
    display: flex;
    overflow-x: auto;
    min-width: max-content;
    display: flex;
    width: 100vw;
    overflow: unset;
  }

  &__header {
    z-index: 5;
    position: sticky;
    top: var(--sticky-top, 0px);
    background-color: #fff;
    border-bottom: 1px solid #d2d2d2;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;


    &__cell {
      padding: 15px var(--page-gutter);
      background-color: #fff;
      width: calc((1/var(--cols)) * 100vw);
      position: relative;
      margin: 0 !important;

      span {
        width: fit-content;
        position: sticky;
        left: var(--page-gutter);
        max-width: calc(100vw - var(--page-gutter) * 3);
        padding: 0;
      }
    }
  }

  &__body {

    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  &__feature {
    padding: 10px var(--page-gutter);
    padding-bottom: 0;
    color: #909090;
    position: sticky;
    left: 0;
    width: fit-content;
    display: block;
    max-width: calc(100vw - var(--page-gutter));
  }

  &__feature--bold {
    padding-top: 25px;
    color: #212121;
    font-size: 20px;
    font-weight: 700
  }

  &__feature--semibold {
    font-weight: 700;
  }

  &__row-cont>div:nth-child(odd) {
    background-color: #f3f3f3;

    .compare__cell {
      border-right: 1px solid #d2d2d2;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__row {
    min-width: max-content;
  }

  &__row:nth-child(odd) {
    background-color: #f3f3f3;
    border: none;

    .compare__content {
      border: none
    }

    .compare__cell {
      border-right: 1px solid #d2d2d2;
    }
  }

  &__cell {
    margin: 10px 0;
    padding: 3px var(--page-gutter);
    width: calc((1 / var(--cols)) * 100vw * var(--data-cell, 1));
    border-right: 1px solid #d2d2d2;
    display: flex;
    color: #212121;
    position: relative;
    line-height: 1;

    span {
      width: fit-content;
      position: sticky;
      left: var(--page-gutter);
      max-width: calc(100vw - var(--page-gutter) * 3);
      line-height: 1;
    }

    button {
      margin-left: 2px;
      font-size: 20px;
      line-height: 1;
      vertical-align: middle;
      margin-right: 5px;
    }

    svg {
      fill: #909090;
    }
  }

  &__cell:last-child {
    border: none;
  }

  &__title label {
    cursor: pointer;
    display: inline-block;
  }

  &__title label svg,
  .cert__title label svg {
    transition: transform 0.3s ease;
    width: 16px;
    height: 16px;
  }
}

#compare-toggle~.compare,
#cert-toggle~.product__docs-list,
#file-toggle~.product__docs-list {
  max-height: 0;
  opacity: 0;
  display: none;
}

#compare-toggle:checked~.compare,
#cert-toggle:checked~.product__docs-list,
#file-toggle:checked~.product__docs-list {
  max-height: max-content;
  opacity: 1;
  display: block;
}

#compare-toggle:checked+h2 label svg,
#cert-toggle:checked+h2 label svg,
#file-toggle:checked+h2 label svg {
  transform: rotate(180deg);
}


#compare-toggle:checked~h2 label svg,
#cert-toggle:checked~h2 label svg,
#file-toggle:checked~h2 label svg,
#order-toggle:checked~h2 label svg {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

h2 label svg {
  transition: transform 0.3s ease;
}


.h {
  font-size: 14px;
}

@media (min-width: 715px) {
  .product {
    &__gallery {
      display: flex;
      max-width: 100%;
      padding: var(--page-gutter);
      align-items: flex-start;
      justify-content: space-between;
    }

    &-gallery__desc {
      width: 50%;
      padding: 0;
      padding-left: var(--page-gutter);
    }

    &-gallery__slider {
      width: 50%;
    }

    &__title--main {
      margin-top: 0;
    }

    &__butn-cont {
      gap: 10px;
    }

    &__slider {
      width: 50vw;
    }
  }
}

@media (min-width: 320px) {
  :root {
    --cols: 2;
  }
}

@media (min-width: 600px) {
  :root {
    --cols: 3;
  }
}

@media (min-width: 800px) {
  :root {
    --cols: 4;
  }
}