@use "./variable" as *;

h1 {
  font-family: $font-family;
  font-size: 1.8rem;
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
}

.product {
  overflow: hidden;

  &__title {
    font-size: 1.5rem;
    font-family: $font-family;
    // font-weight: 400;
    margin: 7px 0;
    display: inline-block;
  }

  &__text {
    text-indent: 2em;
    text-align: justify;
  }

  &__note {
    padding: 10px 16px;
    background-color: #eee;
    // border: 1px solid #ccc;
    border-radius: 15px;
    margin-top: 10px;
    text-indent: 0;
    color: #666666;
    font-size: 16px;
  }

  &__note--bold {
    font-weight: 500;
    font-size: 30px;
    color: $accent-color;
  }

  svg {
    width: 18px;
    height: 18px;
  }

  &__slider-contain {
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }

  &__btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    z-index: 1;
  }

  &__btn--left {
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      transform: rotate(90deg);
    }
  }

  &__btn--right {
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      transform: rotate(-90deg);
    }
  }

  &__slider {

    display: flex;
    transition: transform 0.4s ease;

    li {
      flex: 0 0 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      width: 80vw;
      height: 80vw;
    }
  }

  &__order {
    background-color: #eee;
    border: 1px solid #ccc;
    margin: 0;
    margin-top: 20px;
    padding-bottom: 20px;
  }

  &__order-title {
    font-size: 40px;
    font-weight: 800;
    font-family: $font-family;
    display: inline-block;
    margin: 20px 0;
  }

  &__order-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__order-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
  }

  &__order-step {
    font-family: $second-family;
    font-size: 55px;
    font-weight: 500;
  }

  &__order-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__order-text {
    text-align: justify;
    color: #666666;

    a {
      color: $accent-color;
    }
  }

  &__cert {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
    will-change: transform;
    // overflow: hidden;
  }

  &__cert-item:first-child {
    padding-left: 15px;
  }

  &__cert-item:last-child {
    padding-right: 15px;
  }

  &__cert-item img {
    width: 40px;
    height: 40px;
  }

  .slider__pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
    position: absolute;
    bottom: 2%;
    right: 3%;
  }

  .slider__dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #bbb;
    cursor: pointer;
    transition: width .3s ease, background .3s ease;
    ;
  }

  .slider__dot.active {
    background: #333;
    width: 13px;
    border-radius: 50px;
  }

  .slider__item {
    width: 100vw;
    height: 100vw;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__breadcrumb {
    font-size: 14px;
    color: #666666;
    padding: var(--page-gutter);
  }

  &__docs-list{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    padding-bottom: 30px;
  }

  &__docs-icon {
    min-width: 32px;
    height: 32px;
    background-color: #f2f2f2;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__docs-link {
    display: flex;
    width: auto;
    // align-items: flex-start;
    // justify-content: space-between;
    gap: 30px;
    p{
      text-align: left;
    }
  }

  &__docs-size{
    padding-left: 65px;
    color: #818181;
  }
}

.description {
  position: relative;
  max-width: 600px;
  margin: 20px auto;
}

.description__text {
  max-height: 12em;
  overflow: hidden;
  line-height: 1.5em;
  transition: max-height 0.4s ease;

  p {
    text-align: justify;
  }
}

.description.expanded .description__text {
  max-height: 1000px;
}

.description__fade {
  position: absolute;
  bottom: 3em;
  left: 0;
  right: 0;
  height: 8em;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
  pointer-events: none;
  transition: opacity 0.3s;
}

.description.expanded .description__fade {
  opacity: 0;
}

.description__toggle {
  display: block;
  margin: 10px auto 0;
  background: none;
  border: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 6px;
  width: 100%;
  font-family: $main-font;
  box-shadow: $shadow;
  z-index: 100;
  position: relative;
}

.compare {
  border: 1px solid #ddd;
  max-width: 100%;
  overflow-x: auto;
  margin-top: 5px;
  margin-bottom: 20px;
}

.compare__scroll {
  min-width: 600px;
}

.compare__row {
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: 1px solid #eee;
}

.compare__row--header {
  background: #fff;
  z-index: 5;
  position: relative;
}

.compare__feature {
  padding: 10px;
  font-weight: 500;
  border-right: 1px solid #ddd;
  background: #f9f9f9;
  z-index: 10;
  position: relative;

  p {
    width: calc(100vw - 60px);
    position: fixed;
  }
}

.compare__values {
  display: grid;
  grid-auto-flow: column;
}

.compare__value {
  padding: 10px;
  text-align: center;
  border-right: 1px solid #eee;
}