@use "./variable" as *;

.search--open {
  // opacity: 1 !important;
  // visibility: visible !important;
  // transition: opacity 0.3s ease !important;
  transform: translateX(0) !important;
}

.search--closing {
  transform: translateX(-100%) !important;
}

.no-transition {
  transition: none !important;
}

.search {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: $second-text;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  padding-bottom: calc($safe-bottom + 16px);
  height: calc($vvh - var(--sticky-top));
  min-height: 100svh;
  max-height: 100dvh;

  form{
    position: relative;
  }

  &__loader {
    width: 32px;
    height: 32px;
    margin: 0 15px;
  }

  &__wrap {
    position: relative;
    z-index: 101;
    width: 100%;
    transition: all 0.3s ease;
    background-color: $second-text;
    display: flex;
    align-items: center;
    //   border-bottom: 1px solid #ccc;

    button {
      padding: 6px 6px;
    }
  }

  &__input {
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1;
    min-width: 0;
    margin-top: 3px;
    z-index: 1000;
    width: 100%;
    overflow: hidden;
    display: block;
  }

  &__input:focus-visible {
    outline: none;
  }

  &__input::placeholder {
    font-family: $main-font;
  }

  &__recent {
    a {
      font-weight: 400 !important;
      width: 100%;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__recent-clear {
    width: 15px;
    height: 15px;
  }

  &__recent-text {
    display: inline-block;
    padding: 15px;
  }

  &__recent-item {
    width: 100%;
  }

  &__recent-body {
    display: flex;
    flex-direction: column;
  }

  &__clue {
    gap: 10px;
    display: inline-block;
    padding: 15px;
    margin: 25px 15px;
    background-color: #c1d3e08a;
    border-radius: 20px;
  }

  &__clue-icon {
    max-width: 24px;
    max-height: 24px;
    fill: $text-color;

  }

  &__label{
    position: absolute;
    top: 0;
    left: 0;
    color: gray;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: -1;
  }

  button {
    padding: 19px 15px;

    .search__clear {
      // position: absolute;
      // top: 0;

      width: 18px;
      height: 18px;

      // opacity: 0;
      transition: opacity 0.3s ease;
    }

    // .search__clear--visible {
    //   position: static;
    //   opacity: 1;
    // }

    .search__arrow {
      width: 18px;
      height: 18px;
      transform: rotate(90deg);
    }
  }

  form {
    width: 100%;
  }

  &__result {
    background-color: $second-text;
    display: block;
    border-top: 1px solid #ccc;
    position: fixed;
    top: 58px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $second-text;
    overflow-y: auto;
    z-index: 10000;

    li {
      svg {
        transform: rotate(-90deg);
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;
    }

    a:first-child {
      font-size: 18px;
      font-weight: 600;
    }

    a:last-child {
      border-bottom: 1px solid #ccc;
    }
  }
}

.search .search__hint {
  display: none;
}

.search .search__recent {
  display: none;
}

.search .animation_block {
  display: none;
}

.search.search--hint .search__hint {
  display: flex;
}

.search.search--history .search__recent {
  display: block;
}

.search.search--loading .animation_block {
  display: block;
}

.search .search__clear-btn {
  opacity: 0;
  pointer-events: none;
}

.search.search--has-text .search__clear-btn {
  opacity: 1;
  position: static;
  pointer-events: auto;
}

.search.search--loading .search__clear-btn {
  opacity: 0;
  position: absolute;
  top: -100vw;
  pointer-events: none;
}

.search.search--hint .search__result-list,
.search.search--history .search__result-list {
  display: none;
}

.search .search__result-list {
  display: none;
}

.search.search--results .search__result-list {
  display: block;
}

.search .search__clue, 
.search .search__label {
  display: none;
}

.search.search--empty .search__clue:not(.search__hint)
 {
  display: flex;
}

.search.search--empty .search__label{
  display: inline-block;
}