@use "../../partials/pages/product/files-list";

.downloads {

  &__category-wrap {
    width: 100%;
    display: flex;
    justify-content: start;
  }

  &__category {
    max-width: 100%;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
     padding: 10px;
    border: 1px solid lightgrey;
    outline: none;
    margin-bottom: 15px
  }

  &__search-wrap {
    display: flex;
    align-items: center;
    gap: 10px;

    label{
      font-size: 14px;
      white-space: nowrap;
    }

    input {
      width: 100%;
      padding: 7px 10px;
      border: 1px solid lightgrey;
      outline: none;
    }
  }

  &__filters{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    // background-color: #f5f5f5;
    gap: 25px;
    margin-bottom: 25px;
  }

  &__filter{
    list-style: none;
    padding: 0;
    // text-align: center;
    padding: 5px 0;
    display: flex;
    // align-items: center;
    justify-content: left;
  }

  &__filter-name{
    font-size: 14px;
    text-align: center;
    color: blue;
  }
}