@use "../../partials/pages/product/files-list";

.downloads {

  &__category-wrap {
    width: 100%;
    display: flex;
    justify-content: start;
  }

  &__search-wrap {
    display: flex;
    align-items: center;
    gap: 10px;

    label {
      font-size: 14px;
      white-space: nowrap;
    }
  }

  &__head {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__filters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    // background-color: #f5f5f5;
    gap: 25px;
    margin: 0;
  }

  &__filter {
    list-style: none;
    padding: 0;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__filter-name {
    font-size: 11px;
    text-align: center;
    color: blue;
    white-space: nowrap;
  }
}