@use "../../partials/pages/product/files-list";

.faq {

  h2 {
    margin: 20px 0 5px;
  }

  img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 250ms ease;

    li {
      line-height: 1.2 !important;
      margin-bottom: 10px;

      >p,
      >span,
      >a {
        line-height: 1.2;
      }
    }
  }

  &__item.is-open &__content {
    max-height: 5000px;
  }

  &__title {
    cursor: pointer;
    user-select: none;
    display: inline-block;
  }

  & {
    padding-left: 20px;
    list-style: none;
  }

  &__item {
    position: relative;
  }

  &__item::before {
    content: "";
    position: absolute;
    left: -19px;
    top: 6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 7px;
    border-color: transparent transparent transparent currentColor;
    transition: transform 200ms ease;
  }

  &__item::after{
    content: "";
    position: absolute;
    top: 0;
    left: -19px;
    width: 100%;
    height: 20px;
  }
}