@use "../../partials/base/variable" as *;

.register-arm {

  &__img {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 20px 0;

    img {
      border: 1px solid #212121;
    }
  }

  &__img {
    margin: 10px auto;
  }

  &__op {
    color: blue;
  }

  &__form {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  &__captcha {
    height: 30px;
  }

  &__captcha-wrap {
    display: flex;
    align-items: center;

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid lightgrey;
      outline: none;
    }
  }

  &__field--consent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;

    input {
      margin-top: 5px;
    }

    a {
      color: $accent-color;
    }
  }

  &__submit {
    width: 50%;
    background-color: $accent-color;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 5px;
  }

  &__submit--back {
    background-color: #fff;
    color: #212121;
    border: 1px solid #ccc;
  }

  &__wrap-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--page-gutter);
  }
}