@use "../../base/mixins" as *;

.compare:not(:has(.compare__header)):not(:has(.compare__row-cont:first-child .compare__title-categories)) {
  .compare__row-cont:first-child {
    >.compare__row:nth-of-type(odd) {
      background-color: transparent;
    }

    >.compare__row:nth-of-type(even) {
      background-color: #f3f3f3;
    }
  }
}

.compare__body {
  &:has(> .compare__row-cont:first-child > .compare__title-categories) {
    >.compare__row-cont:first-child {

      >.compare__row:nth-of-type(odd) {
        background-color: #f3f3f3;
      }

      >.compare__row:nth-of-type(even) {

        .compare__cell {
          border-right: 1px solid #d2d2d2;
        }
      }
    }
  }

  &:not(:has(> .compare__row-cont:first-child > .compare__title-categories)) {
    >.compare__row-cont:first-child {
      >.compare__row:nth-of-type(odd) {
        background-color: #f3f3f3;
      }

      >.compare__row:nth-of-type(even) {
        .compare__cell {
          border-right: 1px solid #d2d2d2;
        }
      }
    }
  }
}

h2:has(+div.compare) {
  margin-bottom: 5px !important;
}

.compare {
  min-width: 100vw;
  margin-top: 5px;
  --cells-visible: 4;
  --col-width: calc(100vw / var(--cells-visible));
  margin-inline: calc(var(--page-gutter) * -1);


  &__info-btn {
    color: #fff;
    background-color: #ccc;

    border-radius: 10px;
    padding: 2px 4px;
    margin-right: 6px;
    margin-left: 3px;
    line-height: 1;
    min-width: 18px;
  }

  &__body::-webkit-scrollbar,
  &__header::-webkit-scrollbar {
    display: none;
  }

  &__header-scroll {
    display: flex;
    overflow-x: auto;
    min-width: max-content;
    display: flex;
    width: 100vw;
    overflow: unset;
  }

  &__header {
    z-index: 5;
    position: sticky;
    top: var(--sticky-top, 0px);
    background-color: #fff;
    border-bottom: 1px solid #d2d2d2;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    .compare__cell {
      padding: 10px var(--page-gutter) !important;
      margin: 0 !important;

      .compare__cell-inner {
        width: fit-content;
        position: sticky;
        left: var(--page-gutter);
        max-width: calc(100vw - var(--page-gutter));
        padding: 0;
      }
    }
  }

  &__body {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
  }

  &__feature {
    padding: 10px var(--page-gutter) 0;
    color: #909090;
    position: sticky;
    left: 0;
    width: fit-content;
    display: block;
    max-width: 100vw;
  }

  &__title-categories {
    padding-top: 20px;
    color: #212121;
    font-size: 18px;
    font-weight: 700
  }

  &__title-group {
    font-weight: 700;
  }

  &__row:nth-child(odd) {
    background-color: #f3f3f3;
    border: none;

    .compare__content {
      border: none
    }

    .compare__cell {
      border-right: 1px solid #d2d2d2;
    }
  }


  &__row-cont {

    min-width: max-content;

    >.compare__row:nth-of-type(odd) {
      background-color: #f3f3f3;

      .compare__cell {
        border-right: 1px solid #d2d2d2;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: flex-start;
    flex: 1;
  }

  &__row {
    min-width: max-content;
  }

  &__cell {
    margin: 5px 0;
    padding: 1px var(--page-gutter);
    border-right: 1px solid #d2d2d2;
    display: flex;
    color: #212121;
    position: relative;

    .compare__cell-inner {
      position: relative;
      display: block;
      width: fit-content;
      position: sticky;
      left: var(--page-gutter);
      line-height: 1.2;
      max-width: calc(100vw - var(--page-gutter) * 2);
    }

    svg {
      fill: #909090;
    }
  }

  &__cell:last-child {
    border: none !important;
  }

  &__cell {
    width: calc(var(--col-width) * var(--data-cell, 1));
  }

  &__cell,
  &__header &__cell {
    flex: calc(var(--col-width, 100%) * var(--data-cell, 1));
  }

  &__row {
    display: flex;
    flex: 100%;
    min-width: max-content;
    flex-direction: column;
  }
}

@media (max-width: 599px) {
  .compare {
    --cells-visible: 2;
  }

  .compare__content:not(:has(.compare__cell:nth-child(2))),
  .compare__content:has([data-cell]) {
    --cells-visible: 1;
  }

  .compare__content:has(.compare__cell[data-cell]) {
    --cells-visible: 2;
  }

  .compare {
    --col-width: calc(100vw / var(--cells-visible));
  }
}

@media (min-width: 600px) and (max-width: 799px) {
  .compare {
    --cells-visible: 3;
  }

  .compare__content:not(:has(.compare__cell:nth-child(3))) {
    --cells-visible: 2;
  }

  .compare__content:not(:has(.compare__cell:nth-child(2))),
  .compare__content:has([data-cell]) {
    --cells-visible: 1;
  }

  .compare__content:has(.compare__cell[data-cell]) {
    --cells-visible: 3;
  }

  .compare {
    --col-width: calc(100vw / var(--cells-visible));
  }
}

@media (min-width: 800px) {
  .compare {
    --cells-visible: 4;
  }

  .compare__content:not(:has(.compare__cell:nth-child(4))) {
    --cells-visible: 3;
  }

  .compare__content:not(:has(.compare__cell:nth-child(3))) {
    --cells-visible: 2;
  }

  .compare__content:not(:has(.compare__cell:nth-child(2))),
  .compare__content:has([data-cell]) {
    --cells-visible: 1;
  }

  .compare__content:has(.compare__cell[data-cell]) {
    --cells-visible: 4;
  }

  .compare {
    --col-width: calc(100vw / var(--cells-visible));
  }
}


@include cell-widths;