@use "../../base/mixins" as *;

.description {
  position: relative;
  line-height: 1.4;

  &__toggle {
    display: none;
  }

  &__btn {
    margin-top: 12px;
    font-size: 14px;
    user-select: none;
    margin-left: auto;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 5px;
  }

  &__toggle:checked~&__controls &__btn svg {
    transform: rotate(180deg);
  }

  &__toggle {
    display: none;
  }

  &__content {
    max-height: 183px;
    overflow: hidden;

    label {
      pointer-events: none;
    }
  }

  &__open-overlay {
    position: absolute;
    bottom: 55px;
    left: 0;
    right: 0;
    height: 48px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3 ease, transform 0.3s ease;
  }

  &__open-background {
    position: absolute;
    bottom: 0;
    left: var(--page-gutter);
    background-color: #fff;
    width: calc(100vw - var(--page-gutter) * 2);
    height: 65px;
    margin-bottom: -10px;
    padding-inline: var(--page-gutter);
  }

  &__open-half {
    width: 24px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #e3e3e3;
    width: 100%;
    height: 50%;
  }

  &__open-button {
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    width: 80px;
    height: 35px;
    border-radius: 20px;
    @include flex-center;
    position: absolute;
    top: -65%;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: visible;
  }

  &__toggle:checked+&__content {
    max-height: 15000px;
  }

  &__toggle:checked+&__content label {
    opacity: 0;
  }
}

@media (min-width: 715px) {
  .description {
    margin-top: 0;

    h2.title {
      margin-bottom: 0;
    }
  }
}