@use "../../base/mixins" as *;

.description {
  position: relative;
  line-height: 1.4;

  &__toggle {
    display: none;
  }

  &__btn {
    margin-top: 12px;
    font-size: 14px;
    user-select: none;
    margin-left: auto;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 5px;
  }

  &__toggle {
    display: none;
  }

  &__content {
    max-height: 145px;
    overflow: hidden;

    label {
      pointer-events: none;
    }
  }

  &__open {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100vw - var(--page-gutter) * 2);
    height: 35px;
    border-bottom: 1px solid #e3e3e3;
  }

  &__open-button {
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    width: 80px;
    height: 35px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: visible;
    z-index: 1;
    top: 50%;
    border: 1px solid #e3e3e3;
  }

  &__toggle:checked+&__content {
    max-height: 15000px;
  }

  &__toggle:checked+&__content label {
    opacity: 0;
  }

  &__toggle:checked+&__content &__open-button{
    pointer-events: none;
  }
}

@media (min-width: 715px) {
  .description {
    margin-top: 0;

    h2 {
      margin-bottom: 0;
    }
  }
}