@use "../../base/variable" as *;

.files-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  &__item{
    display: flex;
    width: auto;
    gap: 15px;
    margin: 0;
  }

  &__wrapper--icon {
    min-width: 46px;
    height: fit-content;

    .files-list__icon {
      width: 46px;
      padding-top: 5px;
    }
  }

  &__description{
    font-size: 14px;
    z-index: 100;
  }

  &__number{
    font-size: 12px;
  }

  &__wrapper--info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    line-height: 1.2;
    margin-bottom: 15px;
  }

  &__meta,
  &__meta div {
    color: #999999;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;

  }

  &__meta>div::after {
    content: "|";
    color: #999999;
    font-size: 12px;
  }

  &__meta>&__meta-date::after {
    content: "";
  }

  &__meta>&__meta-date::before {
    content: url("../../assets/image/date.svg");
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 2px;
  }

  &__item{
    position: relative;
  }

  &__click{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.files-list__meta:not(:has(> .files-list__meta-date)) .files-list__meta-size::after {
  content: none;
}