.footnote__backdrop,
.footnote__quest {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  contain: paint layout size;
}

.footnote {
  opacity: 0;
  pointer-events: none;
  position: relative;

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);

    opacity: var(--backdrop-opacity, 0);
    will-change: opacity;
  }

  &__quest {
     contain: layout style paint;
  will-change: transform;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    max-height: 85vh;

    background: #fff;
    border-radius: 25px 25px 0 0;
    display: flex;
    flex-direction: column;
    min-height: 30%;

    transform: translateY(var(--sheet-pos, 100%));
    transition: transform .3s ease;
    will-change: transform;
  }

  &__line-wrapper {
    width: 100%;
    padding: 15px 0;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1000;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  &__line {
    width: 20vw;
    background-color: #6c6c6c;
    min-height: 4px;
    border-radius: 8px;
    margin: 0 auto;
  }

  &__cont {
    padding: var(--page-gutter);
    padding-top: 0;
    overflow-y: auto;
  }

  &__header {
    font-size: 20px;
    font-weight: 500;
    display: block;
    padding: var(--page-gutter) 0;
    background-color: #fff;
    padding-top: 0;
  }

  &__visible {

    .footnote__backdrop {
      opacity: 1;
    }

    .footnote__quest,
    .footnote__backdrop {
      transform: translateY(0);
    }
  }
}

*[data-info] {
  display: none !important;
}