.footnote {
  &__backdrop {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99998;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 0.4s ease;
    transform: translateY(100%);
    opacity: 0;
  }

  &__quest {
    width: 100vw;
    max-height: 95vh;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99999;
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    transform: translateY(100%);
    background-color: #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    min-height: 30%;
  }

  &__line-wrapper {
    width: 100%;
    padding: 15px 0;
  }

  &__line {
    width: 20vw;
    background-color: #6c6c6c;
    min-height: 4px;
    border-radius: 8px;
    margin: 0 auto;
  }

  &__cont {
    padding: var(--page-gutter);
    padding-top: 0;
  }

  &__header {
    font-size: 20px;
    font-weight: 500;
    display: block;
    padding: var(--page-gutter) 0;
    position: sticky;
    top: 0;
    background-color: #fff;
  }

  &__visible {

    .footnote__backdrop {
      opacity: 1;
    }

    .footnote__quest,
    .footnote__backdrop {
      transform: translateY(0);
    }
  }
}

*[data-info] {
  display: none !important;
}