@use "../../base/variable" as *;

.footnote {
  opacity: 0;

  &__backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    contain: paint;

    opacity: var(--backdrop-opacity, 0);
    pointer-events: none;
    transition: opacity .25s ease;
    will-change: opacity;
    overflow: hidden;
  }


  &__quest {
    will-change: transform;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    max-height: 95dvh;
    height: auto;
    touch-action: pan-y;

    background: #fff;
    border-radius: 25px 25px 0 0;
    display: flex;
    flex-direction: column;
    min-height: 30%;

    transform: translateY(var(--sheet-pos, 100%));
    transition: transform .25s ease;
  }

  &__line-wrapper {
    width: 100%;
    padding: 8px var(--page-gutter) 5px;
    position: static;
    top: 0;
    background-color: #fff;
    z-index: 1000;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  &__line {
    width: 20vw;
    background-color: #6c6c6c;
    min-height: 4px;
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 20px
  }

  &__cont {
    padding: var(--page-gutter);
    padding-top: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    touch-action: pan-y;
  }


  &__close-btn {
    padding: 10px;
    line-height: 0;
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 9999;
  }

  &__close-icon {
    width: 14px;
    height: 14px;
    fill: #212121;
    line-height: 0;
  }
}

*[data-info] {
  display: none !important;
}

html:has(.footnote) {
  height: 100%;
  overflow: hidden !important;
  width: 100%;
  overscroll-behavior: none !important;
  touch-action: none;
}
