@use "../../base/variable" as *;

.product-price {
  display: flex;
  gap: 8px;

  &__cost {
    font-weight: 700;
    font-size: 18px !important;
    color: $accent-color !important;
  }

  div {
    padding-top: 10px;
    color: #666666;
    font-size: 16px;
  }
}