@use "../../base/mixins" as *;
@use "../../base/variable" as *;

.product-description {

  &__short-info {
    font-size: 14px;
  }

  &__button-wrapper {
    display: grid;
    grid-template-areas:
      "btn1 btn2"
      "btn3 btn3";
    gap: var(--page-gutter);
    padding-top: 20px;

    button:first-child {
      grid-area: btn1;
    }

    button:nth-child(2) {
      grid-area: btn2 !important;
    }

    button:last-child {
      grid-area: btn3;
    }
  }
}

@media screen and (max-width: 400px) {
  .product-description {
    &__button-wrapper {
      grid-template-areas:
        "btn1"
        "btn2"
        "btn3";
    }
  }
}

@media (min-width: 715px) {
  .product-description {
    h1.title {
      margin-top: 0;
    }

    &__button-wrapper {
      padding-top: 15px;
    }
  }
}