@use "../../base/variable" as *;

.product-price {
  gap: 8px;
  padding-top: 10px;

  &__cost {
    font-weight: 700;
    font-size: 18px !important;
    color: $accent-color !important;
  }

  div {
    color: #666666;
    font-size: 16px;
    display: inline-block;
  }
}