@use "../../base/mixins" as *;
@use "../../base/variable" as *;

.product-description {

  &__short-info {
    font-size: 14px;
  }

  &__button-wrapper {
    display: flex;
    gap: var(--page-gutter);
    padding-top: 20px;
    flex-direction: column;
  }

  &__button-wrap {
    display: flex;
    gap: var(--page-gutter);
  }
}

@media screen and (max-width: 400px) {
  .product-description {
    &__button-wrap {
      flex-direction: column;
    }
  }
}

@media (min-width: 715px) {
  .product-description {
    h1 {
      margin-top: 0;
    }

    &__button-wrapper {
      padding-top: 15px;
    }
  }
}