@use "../../base/variable" as *;
@use "../../base/mixins" as *;

.product {

  svg {
    min-width: 18px;
    min-height: 18px;
    width: 18px;
    height: 18px;
    fill: #212121;
  }

  .product-slider {
    grid-area: block1;
  }

  &-gallery__desc {
    grid-area: block2;
  }

  .description {
    grid-area: block3;
  }

  .peculiarities {
    grid-area: block4;
  }

}

// #extra-info h3 {
//   padding-left: 32px;
//   text-decoration: underline;
// }

@media (min-width: 715px) {
  .product {
    &__wrapper {
      display: grid;
      grid-template-columns: calc(50vw - var(--page-gutter) - 10px) calc(50vw - var(--page-gutter) - 10px);
      grid-template-areas:
        "block1 block2"
        "block1 block4"
        "block3 block3";
      column-gap: 20px;
    }
  }
}