@use "../../base/variable" as *;

.appeal-status {

  .title{
    margin-bottom: 15px;
  }

  &__form {
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__input {
    width: 100%;
    padding: 10px;
    border: 1px solid lightgrey;
    outline: none;
  }

  &__submit{
    width: 100%;
    background-color: $accent-color;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 5px;
  }

  &__error{
    color: $accent-color;
    font-weight: 500;
  }
}