@use "../../base/variable" as *;

.appeal-status {

  .title {
    margin-bottom: 15px;
  }

  &__form {
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__input {
    width: 100%;
    padding: 10px;
    border: 1px solid lightgrey;
    outline: none;
  }

  &__submit {
    width: 100%;
    background-color: $accent-color;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 5px;
  }

  &__error {
    color: $accent-color;
    font-weight: 500;
  }
}

.appeal-result {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;

  h2 {
    margin-top: 0;
    color: #666;
  }

  span {
    color: #666;
  }

  &__link {
    color: #666;
    border-bottom: 1px dotted;
    margin-top: 15px;
    display: inline-block;
    font-size: 14px;
  }
}