@use "../../base/variable" as *;

.appeal {
  &__fieldset {
    border: 1px dashed lightgrey;
    margin: 15px 0;
    position: relative;
    overflow: hidden;
    padding: 20px;
    padding-bottom: 40px;
    max-width: 100%;
    overflow: hidden;
  }

  &__fieldset:not(:has(.appeal__button--add)) {
    padding-bottom: 20px;
  }

  &__legend {
    font-size: 18px;
  }

  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__select,
  &__input,
  &__textarea {
    padding: 10px;
    border: 1px solid lightgrey;
    outline: none;
  }

  &__select {
    max-width: 100%;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }

  &__select option {
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__textarea {
    resize: vertical;
    min-height: 50px;
    max-height: 500px;
  }

  &__button--remove {
    position: absolute;
    top: 10px;
    right: 20px;
    color: $accent-color;
  }

  &__button--add {
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: $accent-color;
    pointer-events: all;
  }

  &__file-attachment {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;

    .appeal__label {
      border: 1px solid rgba(0, 0, 0, .2);
      display: flex;
      align-items: center;
      gap: 10px;
      width: fit-content;
      padding: 5px 20px;
      border-radius: 8px;
      line-height: 0;
    }

    svg {
      width: 16px;
      height: 16px;
      line-height: 0;
      margin-left: -3px;
    }
  }

  &__file-wrap {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__file-info {
    font-size: 14px;
    color: #6c6c6c;
  }

  &__input-file {
    display: none;
  }

  &__consent {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
  }

  &__checkbox {
    width: 22px;
    height: 22px;
  }

  &__link {
    color: $accent-color;
  }

  &__button-wrap {
    display: flex;
    width: 100%;
  }

  &__button {
    padding: 10px 20px;
    background-color: $accent-color;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    margin: 0 auto 10px;
  }

  &__files-error {
    color: red;
    padding-bottom: 10px;
    display: inline-block;
  }

  &__files-list {
    padding: 0;
    list-style: none;
  }

  &__files-name {
    padding: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // max-width: 50%;
    width: fit-content;
    white-space: nowrap;
  }

  &__files-remove {
    border-left: 1px solid #ccc;
    padding: 10px;
    line-height: 0;
  }

  &__files-item {
    margin-bottom: 10px;
    width: fit-content;
    max-width: 100%
  }

  &__files-row {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #ccc;
    // width: fit-content;
    padding-left: 10px;
    border-radius: 5px;

    svg {
      width: 13px;
      height: 13px;
    }
  }
}