@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin horizontal-scroll {
  display: flex;
  overflow-x: auto;
  min-width: max-content;
}

$breakpoints: (
  sm: 400px,
  md: 600px,
  lg: 800px
);

@mixin media($point) {
  @media (max-width: map-get($breakpoints, $point)) {
    @content;
  }
}

@mixin cell-widths($max: 15) {
  @for $i from 1 through $max {
    .compare__cell[data-cell="#{$i}"] {
      --data-cell: #{$i};
    }
  }
}