.products-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  gap: var(--page-gutter);

  &__info {
    margin: 20px 0;
  }

  &__info-text {
    color: #808080;
    font-size: 12px;
  }
}

.product-list__wrap {
  display: flex;
  align-items: center;
  gap: var(--page-gutter);
  margin-bottom: var(--page-gutter);

  >li {
    width: 50%;
  }
}

@media screen and (min-width: 1500px) {
  .products-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1500px) {
  .products-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .products-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 500px) {
  .products-list {
    grid-template-columns: 1fr;
  }
}

.main-page {
  .products-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));

    .product-card__title {
      -webkit-line-clamp: 2;
    }

    @media (min-width: 500px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media (min-width: 720px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    @media (min-width: 1000px) {
      .product-card__title {
        font-size: 22px;
      }
    }
  }
}