.products-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  gap: 20px;

  &__info {
    margin: 20px 0;
  }

  &__info-text {
    color: #808080;
    font-size: 12px;
  }
}

@media screen and (min-width: 1500px) {
  .products-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1500px) {
  .products-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .products-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 500px) {
  .products-list {
    grid-template-columns: 1fr;
  }
}


.products-list:has(.product-card__title--center) {
  @media (min-width: 1500px) {
    > li:nth-child(-n + 2) { grid-column: span 2; }
  }

  @media (max-width: 1500px) {
    > li:nth-child(-n + 2) { grid-column: span 3; }
  }

  @media (max-width: 1000px) {
    > li:nth-child(-n + 2) { grid-column: auto; }
  }

  @media (max-width: 500px) {
    > li:nth-child(-n + 2) { grid-column: auto; }
  }
}
