@use "../../base/variable" as *;

.product-card:has(.product-card__title--center) {
  padding-top: calc(var(--page-gutter) + 33px);
}

.product-card {

  padding: var(--page-gutter);
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #e6e6e6;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
  margin: 0;

  &__item-link {
    height: 100%;
    width: 100%;
    position: absolute;
    padding: var(--page-gutter);
    z-index: 1;
    inset: 0;
  }

  &__title {
    line-height: 1;
    position: relative;
    margin-top: 0;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    font-size: 18px;
  }

  &__title--center {
    text-align: center;
    margin: 10px 0 0;
  }

  &__title-category {
    display: inline-block;
    padding: 10px 0;
    position: relative;
    z-index: 2;
  }

  &__title-category-text {
    font-size: 12px;
    color: #c6c6c6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }

  &__image {
    aspect-ratio: 1/1;
    width: 85%;
    max-height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
    position: relative;
  }

  &__description,
  &__description--red {
    display: inline-block;
    font-size: 12px;
    color: #808080;
  }

  &__description--red {
    color: $accent-color;
  }

  &__stickers {
    display: flex;
    flex-wrap: wrap;
    width: 0px;
    gap: 5px;
    position: absolute;
    bottom: 0%;
    left: -9%;
  }

  &__price {
    display: block;
    position: relative;
    font-size: 16px;
    margin-bottom: 15px;
  }

  &__price-sale {
    color: $accent-color;
  }

  &__price-old {
    text-decoration: line-through;
    font-size: 12px;
    color: #808080;
    padding-left: 3px;
  }

  &__price--bold {
    font-weight: 600;
    font-size: 18px;
    font-weight: 600;
  }

  &__price-comment {
    font-size: 10px;
    color: #808080;
    position: absolute;
    top: 90%;
    left: 0;
  }

  &__panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(var(--page-gutter) - 5px);
    right: calc(var(--page-gutter) - 5px);
    gap: 5px;
    z-index: 2;
  }

  &__panel-item {
    width: min-content;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;


    svg {
      height: 32px;
      width: 32px;
      line-height: 1;
    }
  }

  &__panel-item--in-process {
    svg {
      opacity: 20%;
    }
  }

  &__panel-item:has(.product-card__lock) {
    position: absolute;
    top: -19px;
    right: -10px;
    z-index: 10;
    background-color: transparent;
  }

  &__lock {
    width: 24px;
    height: 24px;
    padding: 15px;

    svg {
      width: 16px;
      height: 16px;
      fill: $accent-color;
      left: 50%;
      top: 50%;
      position: relative;
      transform: translate(-50%, -50%);
    }
  }

  &__colors {
    display: flex;
    gap: 8px;
  }

  &__color {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #0074CC;

    &--red {
      background-color: #FF0000;
    }

    &--yellow {
      background-color: #FFFF00;
    }

    &--green {
      background-color: #00FF00;
    }

    &--blue {
      background-color: #0000FF;
    }
  }

  &__news {
    text-align: center;

    line-height: 1;
    text-transform: uppercase;
    font-size: 10px;
    padding: 0 13%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0%;

    span {
      padding: 10px 0;
      border-bottom: 1px solid lightgrey;
      display: inline-block;
      width: 100%;
    }
  }
}

.sticker {
  display: inline-block;
  padding: 4px 7px;
  font-size: 10px;
  line-height: 1;
  border-radius: 4px;
  color: #fff;
  white-space: nowrap;
}

.sticker--in-stock {
  background-color: #14C814;
}

.sticker--new {
  background-color: #0074CC;
}

.sticker--soon-in-stock,
.sticker--sale {
  background-color: #ee2b2b;
}