@use "../../partials/base/variable" as *;

.news {
  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 15px;
  }

  &__link {
    display: flex;
    gap: 15px;
  }

  &__image-wrap {
    min-width: 80px;
    max-width: 80px;
    min-width: 80px;
    max-height: 80px;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__date {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__date-icon {
    line-height: 0;
    margin-left: -3px;
    margin-bottom: 3px;

    svg {
      width: 20px;
      height: 20px;
      line-height: 0;
    }
  }

  &__date-text {
    font-size: 14px;
  }

  &__title {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1;
    margin-bottom: 5px;
  }

  &__description {
    color: #808080;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-indent: 0;
  }
}

.new {
  &__date {
    text-indent: 0;
    font-family: $font-family;
  }
}


@media screen and (max-width: 400px) {
  .news {
    &__image-wrap {
      min-width: 50px;
      max-width: 50px;
      min-width: 50px;
      max-height: 50px;
    }
  }
}