@use "../partials/base/base" as *;
@use "../partials/base/reset";
@use "../partials/base/typography";
@use "../partials/layout/footer";
@use "../partials/layout/header";
@use "../partials/layout/main";
@use "../partials/layout/mobile-menu";
@use "../partials/layout/contacts";
@use "../partials/layout/search";
@use "../partials/layout/loader";
@use "../partials/layout/breadcrumb";
@use "../partials/layout/open_title";
@use "../partials/layout/button";
@use "../partials/layout/footnote";
