@use "../partials/base/base" as *;
@use "../partials/pages/product/product";
@use "../partials/pages/product/order";
@use "../partials/pages/product/description";
@use "../partials/pages/product/compare";
@use "../partials/pages/product/footnote";
@use "../partials/pages/product/files";