@use "../partials/pages/service/appeal";
@use "../partials/pages/service/appeal_status";
@use "../partials/pages/service/register_arm1";
@use "../partials/pages/service/metrological1";
@use "../partials/pages/product/files-list";
@use "../partials/pages/service/FAQ";