@use "../../base/variable" as *;

.products-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  gap: var(--page-gutter);
}

.product-card {

  padding: var(--page-gutter);
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #e6e6e6;

  &__item {
    height: 100%;
  }

  &__title {
    line-height: 1;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }

  &__title-category {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 2 * var(--page-gutter));
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
  }

  &__title-category-text {
    font-size: 12px;
    color: #808080;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }

  &__image {
    aspect-ratio: 1/1;
    width: 85%;
    max-height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
    position: relative;
    margin-top: 40px;
  }

  &__description,
  &__description--red {
    display: inline-block;
    font-size: 12px;
    color: #808080;
  }

  &__description--red {
    color: $accent-color;
  }

  &__stickers {
    display: flex;
    flex-wrap: wrap;
    width: 0px;
    gap: 5px;
    position: absolute;
    bottom: 0%;
    left: -9%;
  }

  &__price {
    display: block;
    position: relative;
    font-size: 16px;
    margin-bottom: 15px;
  }

  &__price-sale {
    color: $accent-color;
  }

  &__price-old {
    text-decoration: line-through;
    font-size: 12px;
    color: #808080;
    padding-left: 3px;
  }

  &__price--bold {
    font-weight: 600;
    font-size: 18px;
    font-weight: 600;
  }

  &__price-comment {
    font-size: 10px;
    color: #808080;
    position: absolute;
    top: 90%;
    left: 0;
  }

  &__pprf {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 12%;
    right: calc(var(--page-gutter) - 5px);

    svg {
      height: 17px;
      width: 24px;
      line-height: 1;
    }
  }

  &__pprf-item {
    padding: 2.5px 5px;
    width: min-content;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }

  &__pprf-item--in-process {
    svg {
      opacity: 20%;
    }
  }

  &__colors {
    display: flex;
    gap: 8px;
  }

  &__color {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #0074CC;

    &--red {
      background-color: #FF0000;
    }

    &--yellow {
      background-color: #FFFF00;
    }

    &--green {
      background-color: #00FF00;
    }

    &--blue {
      background-color: #0000FF;
    }
  }

  &__lock {
    padding: 7px var(--page-gutter);
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;

    svg {
      width: 12px;
      height: 12px;
      fill: $accent-color;
    }
  }
}

@media screen and (min-width: 1500px) {
  .products-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1500px) {
  .products-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .products-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .products-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.sticker {
  display: inline-block;
  padding: 4px 7px;
  font-size: 10px;
  line-height: 1;
  border-radius: 4px;
  color: #fff;
  white-space: nowrap;
}

.sticker--in-stock {
  background-color: #14C814;
}

.sticker--new {
  background-color: #0074CC;
}

.sticker--sale {
  background-color: #f44;
}

.sticker--soon-in-stock {
  background-color: #ee2b2b;
}