@use "../../base/variable" as *;

.products-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--page-gutter);
}

.product-card {

  padding: var(--page-gutter);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  position: relative;

  &__title {
    line-height: 1;
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &__title-category {
    font-size: 10px;
    line-height: 1;
    position: absolute;
    top: 98%;
    left: 0;
    color: #808080;
  }

  &__image {
    aspect-ratio: 1 / 1;
    width: 70%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
    position: relative;
  }

  &__description {
    font-size: 12px;
  }

  &__stickers {
    display: flex;
    flex-wrap: wrap;
    width: 0px;
    gap: 5px;
    position: absolute;
    bottom: 0%;
    left: -21%;
  }

  &__price {
    display: block;
    position: relative;
    font-size: 16px;
    margin-bottom: 8px;
  }

  &__price-sale {
    color: $accent-color;
  }

  &__price-old {
    text-decoration: line-through;
    font-size: 12px;
    color: #808080;
    padding-left: 3px;

    //     position: absolute;
    // bottom: -16px;
    // left: 0;
  }

  &__price--bold {
    font-weight: 600;
    font-size: 18px;
    font-weight: 600;
  }

  &__price-comment {
    font-size: 10px;
    color: #808080;
    position: absolute;
    top: 90%;
    left: 0;
  }

  &__pprf {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1%;
    right: 2%;

    svg {
      height: 32px;
      width: 32px;
      line-height: 1;
    }
  }

  &__pprf-item {
    padding: 2px 5px;
    width: min-content;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }

  &__colors {
    display: flex;
    gap: 8px;
  }

  &__color {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #0074CC;

    &--red {
      background-color: #FF0000;
    }

    &--yellow {
      background-color: #FFFF00;
    }

    &--green {
      background-color: #00FF00;
    }

    &--blue {
      background-color: #0000FF;
    }
  }
}

@media screen and (max-width: 700px) {
  .products-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-card {
    &__image {
      // height: 40vw;
    }
  }
}

@media screen and (max-width: 520px) {
  .products-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .product-card {
    &__image {
      // height: 50vw;
    }
  }
}

.sticker {
  display: inline-block;
  padding: 4px 7px;
  font-size: 10px;
  line-height: 1;
  border-radius: 4px;
  color: #fff;
  white-space: nowrap;
}

.sticker--in-stock {
  background-color: #14C814;
}

.sticker--new {
  background-color: #0074CC;
}

.sticker--sale {
  background-color: #f44;
}

.sticker--soon-in-stock{
background-color: #ee2b2b;
}