.files-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
}
.files-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  gap: 15px;
  margin: 0;
}
.files-list__wrapper--icon {
  min-width: 46px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.files-list__wrapper--icon .files-list__icon {
  width: 46px;
  padding-top: 5px;
}
.files-list__description {
  font-size: 14px;
  z-index: 100;
}
.files-list__number {
  font-size: 12px;
}
.files-list__wrapper--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  line-height: 1.2;
  margin-bottom: 15px;
}
.files-list__meta, .files-list__meta div {
  color: #999999;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  white-space: nowrap;
}
.files-list__meta > div::after {
  content: "|";
  color: #999999;
  font-size: 12px;
}
.files-list__meta > .files-list__meta-date::after {
  content: "";
}
.files-list__meta > .files-list__meta-date::before {
  content: url("../../assets/image/date.svg");
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 2px;
}
.files-list__item {
  position: relative;
}
.files-list__click {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.files-list__meta:not(:has(> .files-list__meta-date)) .files-list__meta-size::after {
  content: none;
}

.downloads__category-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.downloads__search-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.downloads__search-wrap label {
  font-size: 14px;
  white-space: nowrap;
}
.downloads__head {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.downloads__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  gap: 29px;
  margin: 0;
}
.downloads__filter {
  list-style: none;
  padding: 0;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}
.downloads__filter-name {
  font-size: 11px;
  text-align: center;
  color: blue;
  white-space: nowrap;
}
.downloads__arhive-list {
  padding: 0;
  max-width: 130px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 0;
}
.downloads__arhive-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin: 0;
}
.downloads__arhive-list li input {
  width: 15px;
  height: 16px;
}

.files-list__arhive {
  font-size: 11px;
  text-align: center;
  width: 100%;
  display: inline-block;
  background-color: aliceblue;
  line-height: 1.4;
  border-radius: 15px;
  border: 1px solid #b8d9e4;
  max-width: 46px;
}

.downloads-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.downloads-filter__title {
  font-size: 14px;
}
.downloads-filter__chips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
  border: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.downloads-filter__chip {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.downloads-filter__chip-input {
  width: 15px;
  height: 15px;
  accent-color: #292361;
}
.downloads-filter__chip-text {
  font-size: 14px;
}
.downloads-filter__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 13px;
}
.downloads-filter__dot {
  opacity: 0.6;
}
.downloads-filter__btn {
  color: #292361;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.is-hidden {
  display: none !important;
}

.downloads-empty {
  padding: 14px 16px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  background: #fafafa;
  color: #6b7280;
  font-size: 14px;
}