.files-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
}
.files-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  gap: 15px;
  margin-left: 0;
}
.files-list__wrapper--icon {
  min-width: 46px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.files-list__wrapper--icon .files-list__icon {
  width: 46px;
  padding-top: 5px;
}
.files-list__description {
  font-size: 14px;
  z-index: 100;
}
.files-list__number {
  font-size: 12px;
}
.files-list__wrapper--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  line-height: 1.2;
  margin-bottom: 15px;
}
.files-list__meta, .files-list__meta div {
  color: #999999;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  white-space: nowrap;
}
.files-list__meta > div::after {
  content: "|";
  color: #999999;
  font-size: 12px;
}
.files-list__meta > .files-list__meta-date::after {
  content: "";
}
.files-list__meta > .files-list__meta-date::before {
  content: url("../../assets/image/date.svg");
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 2px;
}
.files-list__item {
  position: relative;
}
.files-list__click {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.files-list__meta:not(:has(> .files-list__meta-date)) .files-list__meta-size::after {
  content: none;
}

.faq h2 {
  margin: 20px 0 5px;
}
.faq img {
  display: block;
  margin: 10px auto;
  max-width: 100%;
}
.faq__content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 250ms ease;
  transition: max-height 250ms ease;
}
.faq__content li {
  line-height: 1.2 !important;
  margin-bottom: 10px;
}
.faq__content li > p,
.faq__content li > span,
.faq__content li > a {
  line-height: 1.2;
}
.faq__item.is-open .faq__content {
  max-height: 5000px;
}
.faq__title {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
}
.faq {
  padding-left: 20px;
  list-style: none;
}
.faq__item {
  position: relative;
}
.faq__item::before {
  content: "";
  position: absolute;
  left: -19px;
  top: 6px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 7px;
  border-color: transparent transparent transparent currentColor;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}
.faq__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: -19px;
  width: 100%;
  height: 20px;
}/*# sourceMappingURL=knowledge.css.map */