.hero {
  width: 100vw;
  height: 350px;
  line-height: 30px;
  overflow: hidden;
}
.hero__list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__item {
  margin: 0;
  min-width: 100vw;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero__wrap {
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  max-height: 350px;
  display: block;
  text-shadow: #000 1px 1px 2px;
  font-size: 18px;
  line-height: 30px;
  color: #fff !important;
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  text-align: center;
  padding: var(--page-gutter);
}
.hero__title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0;
}
.hero__text {
  font-size: 14px;
  text-indent: 0;
  margin: 0;
  color: inherit;
  font-family: inherit;
}
.hero__image_type_logo {
  -webkit-filter: drop-shadow(0 0 3px #000);
          filter: drop-shadow(0 0 3px #000);
}
.hero__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.hero__btn {
  display: inline-block;
  padding: 3px 8px;
  color: #fff;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "pfdintextcomppro-light", sans-serif;
  font-size: 18px;
  margin-top: 15px;
}

.plashka__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: 0;
}

.plashka {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 0;
}
.plashka-header__title, .plashka-header__title > span {
  color: #fff;
  font-family: "pfdintextcomppro-light", sans-serif;
  font-size: 22px;
  line-height: 0.7;
}
.plashka-header__subtitle {
  color: #DDD;
  font-family: "pfdintextcomppro-light", sans-serif;
  font-size: 18px;
}
.plashka__text {
  margin-top: 2px;
  font-size: 10px;
  color: #fff;
  line-height: 18px;
}

.advantages {
  background: #292361;
}
.advantages__list {
  display: grid;
  gap: 15px;
  padding: 20px var(--page-gutter);
  list-style: none;
  margin: 0;
}
.advantages__item {
  display: grid;
  grid-template-columns: 44px 1fr;
  grid-template-areas: "icon title" "icon text";
  gap: 4px 20px;
  margin: 0;
  border-radius: 14px;
  background: #292361;
}
.advantages__icon {
  grid-area: icon;
  width: 44px;
  height: 44px;
  border-radius: 12px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantages__icon::before {
  opacity: 0.9;
  font-family: icons;
  color: #292361;
  font-size: 22px;
}
.advantages__icon--cert::before {
  content: "\f0a3";
}
.advantages__icon--hands::before {
  content: "\f2b5";
}
.advantages__icon--tools::before {
  content: "\f0ad";
}
.advantages__title {
  grid-area: title;
  margin: 0;
  font-size: 22px;
  line-height: 1.2;
  color: #fff;
}
.advantages__text {
  grid-area: text;
  font-size: 14px;
  color: #fff;
}

.partners__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, 180px);
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--page-gutter);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.partners__item {
  margin: 0;
}
.partners__slide {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #fff !important;
  background-blend-mode: inherit;
  background-position-x: 0;
  width: 180px;
  height: 72px;
}
.partners__slide--1 {
  background-position-y: 0;
}
.partners__slide--2 {
  background-position-y: -72px;
}
.partners__slide--3 {
  background-position-y: -144px;
}
.partners__slide--4 {
  background-position-y: -216px;
}
.partners__slide--5 {
  background-position-y: -288px;
}
.partners__slide--6 {
  background-position-y: -360px;
}
.partners__slide--7 {
  background-position-y: -432px;
}
.partners__slide--8 {
  background-position-y: -504px;
}

@media screen and (min-width: 405px) {
  .partners__list {
    grid-template-columns: repeat(2, 180px);
  }
}
@media screen and (min-width: 600px) {
  .partners__list {
    grid-template-columns: repeat(3, 180px);
  }
}
@media screen and (min-width: 800px) {
  .partners__list {
    grid-template-columns: repeat(4, 180px);
  }
}
@media screen and (max-width: 405px) {
  .partners__list {
    grid-template-columns: repeat(2, 140px);
  }
  .partners__slide {
    width: 140px;
    height: 60px;
    background-size: 275px;
  }
  .partners__slide--1 {
    background-position-y: 0px;
  }
  .partners__slide--2 {
    background-position-y: -52px;
  }
  .partners__slide--3 {
    background-position-y: -110px;
  }
  .partners__slide--4 {
    background-position-y: -160px;
  }
  .partners__slide--5 {
    background-position-y: -217px;
  }
  .partners__slide--6 {
    background-position-y: -270px;
  }
  .partners__slide--7 {
    background-position-y: -380px;
  }
  .partners__slide--8 {
    background-position-y: -435px;
  }
}

.news__list {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  margin-top: 15px;
}
.news__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.news__image-wrap {
  min-width: 80px;
  max-width: 80px;
  min-width: 80px;
  max-height: 80px;
}
.news__image {
  width: 100%;
  height: 100%;
}
.news__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.news__date-icon {
  line-height: 0;
  margin-left: -3px;
  margin-bottom: 3px;
}
.news__date-icon svg {
  width: 20px;
  height: 20px;
  line-height: 0;
}
.news__date-text {
  font-size: 14px;
}
.news__title {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1;
  margin-bottom: 5px;
}
.news__description {
  color: #808080;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-indent: 0;
}

.new__date {
  text-indent: 0;
  font-family: "pfdintextcomppro-light", sans-serif;
}

@media screen and (max-width: 400px) {
  .news__image-wrap {
    min-width: 50px;
    max-width: 50px;
    min-width: 50px;
    max-height: 50px;
  }
}
.product-card:has(.product-card__title--center) {
  padding-top: calc(var(--page-gutter) + 33px);
}

.product-card {
  padding: var(--page-gutter);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
}
.product-card__item-link {
  height: 100%;
  width: 100%;
  position: absolute;
  padding: var(--page-gutter);
  z-index: 1;
  inset: 0;
}
.product-card__title {
  line-height: 1;
  position: relative;
  margin-top: 0;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-size: 18px;
}
.product-card__title--center {
  text-align: center;
  margin: 10px 0 0;
}
.product-card__title-category {
  display: inline-block;
  padding: 10px 0;
  position: relative;
  z-index: 2;
}
.product-card__title-category-text {
  font-size: 12px;
  color: #c6c6c6;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.product-card__image {
  aspect-ratio: 1/1;
  width: 85%;
  max-height: 250px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 auto;
  position: relative;
}
.product-card__description, .product-card__description--red {
  display: inline-block;
  font-size: 12px;
  color: #808080;
}
.product-card__description--red {
  color: #b30006;
}
.product-card__stickers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 0px;
  gap: 5px;
  position: absolute;
  bottom: 0%;
  left: -9%;
}
.product-card__price {
  display: block;
  position: relative;
  font-size: 16px;
  margin-bottom: 15px;
}
.product-card__price-sale {
  color: #b30006;
}
.product-card__price-old {
  text-decoration: line-through;
  font-size: 12px;
  color: #808080;
  padding-left: 3px;
}
.product-card__price--bold {
  font-weight: 600;
  font-size: 18px;
  font-weight: 600;
}
.product-card__price-comment {
  font-size: 10px;
  color: #808080;
  position: absolute;
  top: 90%;
  left: 0;
}
.product-card__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: calc(var(--page-gutter) - 5px);
  right: calc(var(--page-gutter) - 5px);
  gap: 5px;
  z-index: 2;
}
.product-card__panel-item {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  background-color: #fff;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product-card__panel-item svg {
  height: 32px;
  width: 32px;
  line-height: 1;
}
.product-card__panel-item--in-process svg {
  opacity: 20%;
}
.product-card__panel-item:has(.product-card__lock) {
  position: absolute;
  top: -19px;
  right: -10px;
  z-index: 10;
  background-color: transparent;
}
.product-card__lock {
  width: 24px;
  height: 24px;
  padding: 15px;
}
.product-card__lock svg {
  width: 16px;
  height: 16px;
  fill: #b30006;
  left: 50%;
  top: 50%;
  position: relative;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.product-card__colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.product-card__color {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #0074CC;
}
.product-card__color--red {
  background-color: #FF0000;
}
.product-card__color--yellow {
  background-color: #FFFF00;
}
.product-card__color--green {
  background-color: #00FF00;
}
.product-card__color--blue {
  background-color: #0000FF;
}
.product-card__news {
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  font-size: 10px;
  padding: 0 13%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0%;
}
.product-card__news span {
  padding: 10px 0;
  border-bottom: 1px solid lightgrey;
  display: inline-block;
  width: 100%;
}

.sticker {
  display: inline-block;
  padding: 4px 7px;
  font-size: 10px;
  line-height: 1;
  border-radius: 4px;
  color: #fff;
  white-space: nowrap;
}

.sticker--in-stock {
  background-color: #14C814;
}

.sticker--new {
  background-color: #0074CC;
}

.sticker--soon-in-stock,
.sticker--sale {
  background-color: #ee2b2b;
}

.products-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  gap: var(--page-gutter);
}
.products-list__info {
  margin: 20px 0;
}
.products-list__info-text {
  color: #808080;
  font-size: 12px;
}

.product-list__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--page-gutter);
  margin-bottom: var(--page-gutter);
}
.product-list__wrap > li {
  width: 50%;
}

@media screen and (min-width: 1500px) {
  .products-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 1500px) {
  .products-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1000px) {
  .products-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (max-width: 500px) {
  .products-list {
    grid-template-columns: 1fr;
  }
}
.main-page .products-list {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.main-page .products-list .product-card__title {
  -webkit-line-clamp: 2;
}
@media (min-width: 500px) {
  .main-page .products-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 720px) {
  .main-page .products-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (min-width: 1000px) {
  .main-page .products-list .product-card__title {
    font-size: 22px;
  }
}

.main-page .form-group .Field__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.main-page .form-group .Field__item:has(input[type=radio]:checked):before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #b30006;
  position: absolute;
  border-radius: 2px;
  bottom: -3px;
}
.main-page .form-group .Field__item {
  gap: 0 !important;
  position: relative;
}
.main-page .form-group .Field__item label span {
  font-weight: 600;
}
.main-page .form-group .Field__input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  min-width: 0 !important;
  min-height: 0 !important;
  width: 0 !important;
  height: 0 !important;
  padding: 0;
}