.is-hidden {
  display: none !important;
}

.neg-m {
  margin: -15px;
}

:root {
  --page-gutter: 15px;
}

.upper {
  text-transform: uppercase;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

@media (max-width: 359px) {
  :root {
    --page-gutter: 10px;
  }
}
@media (min-width: 768px) {
  :root {
    --page-gutter: 15px;
  }
}
.layout {
  padding-inline: var(--page-gutter);
}

.full-container {
  width: 100%;
  max-width: var(--container-max);
  margin-inline: auto;
}

.full-bcg {
  margin-inline: calc(var(--page-gutter) * -1);
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
  -webkit-appearance: none;
}

p {
  text-indent: 32px;
  margin-top: 7px;
}

ul,
ol {
  margin-top: 5px;
  margin-bottom: 10px;
  list-style: none;
}

main ul {
  list-style: disc;
  padding-left: 32px;
}

main ol {
  list-style: decimal;
  padding-left: 32px;
}

main ul li::marker,
main ol li::marker {
  color: rgb(153, 153, 153);
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 15px 0;
  font-family: "pfdintextcomppro-regular", sans-serif;
  font-weight: 400;
}

.title {
  font-family: "pfdintextcomppro-regular", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

.product svg {
  min-width: 18px;
  min-height: 18px;
  width: 18px;
  height: 18px;
  fill: #212121;
}
.product .product-slider {
  grid-area: block1;
}
.product-gallery__desc {
  grid-area: block2;
}
.product .description {
  grid-area: block3;
}
.product .peculiarities {
  grid-area: block4;
}

.extra-question {
  list-style: none;
  padding: 0;
  margin: 0;
}
.extra-question__item {
  border: 2px solid #ccc;
  border-radius: 12px;
  border-top-left-radius: 0;
  margin-bottom: var(--page-gutter);
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.15);
}
.extra-question__name {
  display: block;
  padding: 15px;
}

@media (min-width: 715px) {
  .product__wrapper {
    display: grid;
    grid-template-columns: calc(50vw - var(--page-gutter) - 10px) calc(50vw - var(--page-gutter) - 10px);
    grid-template-areas: "block1 block2" "block1 block4" "block3 block3";
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.how-to-order__subtitle {
  font-weight: 400;
}
.how-to-order__checkbox {
  display: none;
}
.how-to-order__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0;
}
.how-to-order__checkbox:checked ~ .order__list {
  max-height: 2000px;
}
.how-to-order__checkbox:checked ~ .order__title .order labek svg {
  transform: rotate(180deg);
}
.how-to-order__item {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-left: 0;
}
.how-to-order__item:last-child {
  padding-bottom: 20px;
}
.how-to-order__step {
  font-family: "pfdintextcomppro-regular", sans-serif;
  font-size: 55px;
  font-weight: 500;
  color: #9d9d9d;
}
.how-to-order__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.how-to-order__description {
  color: #666;
}
.how-to-order__description > a {
  color: #b30006;
}

.description {
  position: relative;
  line-height: 1.4;
}
.description__toggle {
  display: none;
}
.description__btn {
  margin-top: 12px;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-left: auto;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}
.description__toggle:checked ~ .description__controls .description__btn svg {
  transform: rotate(180deg);
}
.description__toggle {
  display: none;
}
.description__content {
  max-height: 145px;
  overflow: hidden;
}
.description__content label {
  pointer-events: none;
}
.description__open {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100vw - var(--page-gutter) * 2);
  height: 35px;
  border-bottom: 1px solid #e3e3e3;
}
.description__open-button {
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  width: 80px;
  height: 35px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: visible;
  z-index: 1;
  top: 50%;
  border: 1px solid #e3e3e3;
}
.description__toggle:checked + .description__content {
  max-height: 15000px;
}
.description__toggle:checked + .description__content label {
  opacity: 0;
}

@media (min-width: 715px) {
  .description {
    margin-top: 0;
  }
  .description h2.title {
    margin-bottom: 0;
  }
}
.peculiarities__list {
  list-style-type: disc;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  line-height: 1.4;
  margin: 0;
}
.peculiarities__list-item {
  color: #333;
  margin-left: 0;
}
.peculiarities__list-item::marker {
  font-size: 14px;
}

@media (min-width: 715px) {
  .peculiarities h2.title {
    margin-top: 10px;
    margin-bottom: 0;
  }
}
.compare:not(:has(.compare__header)):not(:has(.compare__row-cont:first-child .compare__title-categories)) .compare__row-cont:first-child > .compare__row:nth-of-type(odd) {
  background-color: transparent;
}
.compare:not(:has(.compare__header)):not(:has(.compare__row-cont:first-child .compare__title-categories)) .compare__row-cont:first-child > .compare__row:nth-of-type(even) {
  background-color: #f3f3f3;
}

.compare__body:has(> .compare__row-cont:first-child > .compare__title-categories) > .compare__row-cont:first-child > .compare__row:nth-of-type(odd) {
  background-color: #f3f3f3;
}
.compare__body:has(> .compare__row-cont:first-child > .compare__title-categories) > .compare__row-cont:first-child > .compare__row:nth-of-type(even) .compare__cell {
  border-right: 1px solid #d2d2d2;
}
.compare__body:not(:has(> .compare__row-cont:first-child > .compare__title-categories)) > .compare__row-cont:first-child > .compare__row:nth-of-type(odd) {
  background-color: #f3f3f3;
}
.compare__body:not(:has(> .compare__row-cont:first-child > .compare__title-categories)) > .compare__row-cont:first-child > .compare__row:nth-of-type(even) .compare__cell {
  border-right: 1px solid #d2d2d2;
}

h2:has(+ div.compare) {
  margin-bottom: 5px !important;
}

.compare:not(:is(main *)) .compare__header {
  top: 0;
}

.compare {
  min-width: 100vw;
  margin-top: 5px;
  --cells-visible: 4;
  --col-width: calc(100vw / var(--cells-visible));
  margin-inline: calc(var(--page-gutter) * -1);
}
.compare__info-btn {
  color: #fff;
  background-color: #ccc;
  border-radius: 10px;
  padding: 2px 4px;
  margin-right: 6px;
  margin-left: 3px;
  line-height: 1;
  min-width: 18px;
}
.compare__body::-webkit-scrollbar, .compare__header::-webkit-scrollbar {
  display: none;
}
.compare__header-scroll {
  display: flex;
  overflow-x: auto;
  min-width: -moz-max-content;
  min-width: max-content;
  display: flex;
  width: 100vw;
  overflow: unset;
}
.compare__header {
  z-index: 5;
  position: sticky;
  top: var(--sticky-top, 0px);
  background-color: #fff;
  border-bottom: 1px solid #d2d2d2;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.compare__header .compare__cell {
  padding: 10px var(--page-gutter) !important;
  margin: 0 !important;
}
.compare__header .compare__cell .compare__cell-inner {
  width: -moz-fit-content;
  width: fit-content;
  position: sticky;
  left: var(--page-gutter);
  max-width: calc(100vw - var(--page-gutter));
  padding: 0;
}
.compare__body {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
}
.compare__feature {
  padding: 10px var(--page-gutter) 0;
  color: #909090;
  position: sticky;
  left: 0;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  max-width: 100vw;
}
.compare__title-categories {
  padding-top: 20px;
  color: #212121;
  font-size: 18px;
  font-weight: 700;
}
.compare__title-group {
  font-weight: 700;
}
.compare__row:nth-child(odd) {
  background-color: #f3f3f3;
  border: none;
}
.compare__row:nth-child(odd) .compare__content {
  border: none;
}
.compare__row:nth-child(odd) .compare__cell {
  border-right: 1px solid #d2d2d2;
}
.compare__row-cont {
  min-width: -moz-max-content;
  min-width: max-content;
}
.compare__row-cont > .compare__row:nth-of-type(odd) {
  background-color: #f3f3f3;
}
.compare__row-cont > .compare__row:nth-of-type(odd) .compare__cell {
  border-right: 1px solid #d2d2d2;
}
.compare__content {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}
.compare__row {
  min-width: -moz-max-content;
  min-width: max-content;
}
.compare__cell {
  margin: 5px 0;
  padding: 1px var(--page-gutter);
  border-right: 1px solid #d2d2d2;
  display: flex;
  color: #212121;
  position: relative;
}
.compare__cell .compare__cell-inner {
  position: relative;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  position: sticky;
  left: var(--page-gutter);
  line-height: 1.2;
  max-width: calc(100vw - var(--page-gutter) * 2);
}
.compare__cell svg {
  fill: #909090;
}
.compare__cell:last-child {
  border: none !important;
}
.compare__cell {
  width: calc(var(--col-width) * var(--data-cell, 1));
}
.compare__cell, .compare__header .compare__cell {
  flex: calc(var(--col-width, 100%) * var(--data-cell, 1));
}
.compare__row {
  display: flex;
  flex: 100%;
  min-width: -moz-max-content;
  min-width: max-content;
  flex-direction: column;
}

@media (max-width: 599px) {
  .compare {
    --cells-visible: 2;
  }
  .compare__content:not(:has(.compare__cell:nth-child(2))),
  .compare__content:has([data-cell]) {
    --cells-visible: 1;
  }
  .compare__content:has(.compare__cell[data-cell]) {
    --cells-visible: 2;
  }
  .compare {
    --col-width: calc(100vw / var(--cells-visible));
  }
}
@media (min-width: 600px) and (max-width: 799px) {
  .compare {
    --cells-visible: 3;
  }
  .compare__content:not(:has(.compare__cell:nth-child(3))) {
    --cells-visible: 2;
  }
  .compare__content:not(:has(.compare__cell:nth-child(2))),
  .compare__content:has([data-cell]) {
    --cells-visible: 1;
  }
  .compare__content:has(.compare__cell[data-cell]) {
    --cells-visible: 3;
  }
  .compare {
    --col-width: calc(100vw / var(--cells-visible));
  }
}
@media (min-width: 800px) {
  .compare {
    --cells-visible: 4;
  }
  .compare__content:not(:has(.compare__cell:nth-child(4))) {
    --cells-visible: 3;
  }
  .compare__content:not(:has(.compare__cell:nth-child(3))) {
    --cells-visible: 2;
  }
  .compare__content:not(:has(.compare__cell:nth-child(2))),
  .compare__content:has([data-cell]) {
    --cells-visible: 1;
  }
  .compare__content:has(.compare__cell[data-cell]) {
    --cells-visible: 4;
  }
  .compare {
    --col-width: calc(100vw / var(--cells-visible));
  }
}
.compare__cell[data-cell="1"] {
  --data-cell: 1;
}

.compare__cell[data-cell="2"] {
  --data-cell: 2;
}

.compare__cell[data-cell="3"] {
  --data-cell: 3;
}

.compare__cell[data-cell="4"] {
  --data-cell: 4;
}

.compare__cell[data-cell="5"] {
  --data-cell: 5;
}

.compare__cell[data-cell="6"] {
  --data-cell: 6;
}

.compare__cell[data-cell="7"] {
  --data-cell: 7;
}

.compare__cell[data-cell="8"] {
  --data-cell: 8;
}

.compare__cell[data-cell="9"] {
  --data-cell: 9;
}

.compare__cell[data-cell="10"] {
  --data-cell: 10;
}

.compare__cell[data-cell="11"] {
  --data-cell: 11;
}

.compare__cell[data-cell="12"] {
  --data-cell: 12;
}

.compare__cell[data-cell="13"] {
  --data-cell: 13;
}

.compare__cell[data-cell="14"] {
  --data-cell: 14;
}

.compare__cell[data-cell="15"] {
  --data-cell: 15;
}

.footnote__backdrop {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99998;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0.4s ease;
  transform: translateY(100%);
  opacity: 0;
}
.footnote__quest {
  width: 100vw;
  max-height: 95vh;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99999;
  transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
  transform: translateY(100%);
  background-color: #fff;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  min-height: 30%;
}
.footnote__line-wrapper {
  width: 100%;
  padding: 15px 0;
}
.footnote__line {
  width: 20vw;
  background-color: #6c6c6c;
  min-height: 4px;
  border-radius: 8px;
  margin: 0 auto;
}
.footnote__cont {
  padding: var(--page-gutter);
  padding-top: 0;
}
.footnote__header {
  font-size: 20px;
  font-weight: 500;
  display: block;
  padding: var(--page-gutter) 0;
  position: sticky;
  top: 0;
  background-color: #fff;
}
.footnote__visible .footnote__backdrop {
  opacity: 1;
}
.footnote__visible .footnote__quest,
.footnote__visible .footnote__backdrop {
  transform: translateY(0);
}

*[data-info] {
  display: none !important;
}

.files-list {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 0;
}
.files-list__item {
  display: flex;
  width: auto;
  gap: 15px;
  min-height: 65px;
  margin-left: 0;
}
.files-list__wrapper--icon {
  min-width: 46px;
  height: 46px;
}
.files-list__wrapper--icon .files-list__icon {
  width: 46px;
  padding-top: 5px;
}
.files-list__description {
  font-size: 14px;
}
.files-list__number {
  font-size: 12px;
}
.files-list__wrapper--info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 1.2;
  margin-bottom: 15px;
}
.files-list__meta, .files-list__meta div {
  color: #999999;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
}
.files-list__meta > div::after {
  content: "|";
  color: #999999;
  font-size: 12px;
}
.files-list__meta > .files-list__meta-date::after {
  content: "";
}
.files-list__meta > .files-list__meta-date::before {
  content: url("../../assets/image/date.svg");
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 2px;
}
.files-list__item {
  position: relative;
}
.files-list__click {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.product-price {
  gap: 8px;
  padding-top: 10px;
}
.product-price__cost {
  font-weight: 700;
  font-size: 18px !important;
  color: #b30006 !important;
}
.product-price div {
  color: #666666;
  font-size: 16px;
  display: inline-block;
}

.product-slider {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.product-slider__list {
  display: flex;
  transition: transform 0.4s ease;
  padding: 0;
}
.product-slider__item {
  width: 350px;
  height: 350px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}
.product-slider__pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
  position: absolute;
  bottom: 2%;
  right: 3%;
}
.product-slider__dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #bbb;
  cursor: pointer;
  transition: width 0.3s ease, background 0.3s ease;
}
.product-slider__dot.active {
  background: #333;
  width: 13px;
  border-radius: 50px;
}

.product-description__short-info {
  font-size: 14px;
}
.product-description__button-wrapper {
  display: flex;
  gap: var(--page-gutter);
  padding-top: 20px;
  flex-direction: column;
}
.product-description__button-wrap {
  display: flex;
  gap: var(--page-gutter);
}

@media screen and (max-width: 400px) {
  .product-description__button-wrap {
    flex-direction: column;
  }
}
@media (min-width: 715px) {
  .product-description h1.title {
    margin-top: 0;
  }
  .product-description__button-wrapper {
    padding-top: 15px;
  }
}/*# sourceMappingURL=product_page.css.map */