.appeal-status .title {
  margin-bottom: 15px;
}
.appeal-status__form {
  margin: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 15px;
}
.appeal-status__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.appeal-status__input {
  width: 100%;
  padding: 10px;
  border: 1px solid lightgrey;
  outline: none;
}
.appeal-status__submit {
  width: 100%;
  background-color: #b30006;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 5px;
}
.appeal-status__error {
  color: #b30006;
  font-weight: 500;
}

.appeal-result {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.appeal-result h2 {
  margin-top: 0;
  color: #666;
}
.appeal-result span {
  color: #666;
}
.appeal-result__link {
  color: #666;
  border-bottom: 1px dotted;
  margin-top: 15px;
  display: inline-block;
  font-size: 14px;
}