@use "../../base/variable" as *;

.hero {
  width: 100vw;
  height: 300px;
  line-height: 30px;
  overflow: hidden;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
  }

  &__item {
    margin: 0;
    min-width: 100vw;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__wrap {
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    max-height: 300px;
    display: block;
    text-shadow: #000 1px 1px 2px;
    font-size: 18px;
    line-height: 30px;
    color: #fff!important;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    z-index: 2;
    text-align: center;
    padding: var(--page-gutter);
  }

  &__title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
  }

  &__text{
    font-size: 14px;
    text-indent: 0;
    margin: 0;
    color: inherit;
    font-family: inherit;
    line-height: 20px;
  }

  &__image_type_logo{
    filter: drop-shadow(0 0 3px #000);
  }

  &__btn-wrap{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__btn{
    display: inline-block;
    padding: 3px 8px;
    color: #fff;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,.4);
    font-family: $font-family;
    font-size: 16px;
    margin-top: 10px;
  }
}

.plashka__container{
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: 0;
}

.plashka{
  flex-basis: 50%;
  background-color: rgba(0,0,0,.2);
  padding: 10px;
  margin: 0;

  &-header__title,
  &-header__title>span{
    color: #fff;
    font-family: $font-family;
    font-size: 22px;
    line-height: 0.7;
  }

  &-header__subtitle{
    color: #DDD;
     font-family: $font-family;
    font-size: 18px;
  }

  &__text{
    margin-top: 2px;
    font-size: 10px;
    color: #fff;
    line-height: 18px;
  }
}