.partners {

  &__list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1, 180px);
    justify-items: center;
    justify-content: center;
    gap: var(--page-gutter);
    width: fit-content;
  }

  &__item {
    margin: 0;
  }

  &__slide {
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    // margin: auto;
    background-color: #fff !important;
    background-blend-mode: inherit;
    background-position-x: 0;
    width: 180px;
    height: 72px;
  }

  &__slide--1 {
    background-position-y: 0;
  }

  &__slide--2 {
    background-position-y: -72px;
  }

  &__slide--3 {
    background-position-y: -144px;
  }

  &__slide--4 {
    background-position-y: -216px;
  }

  &__slide--5 {
    background-position-y: -288px;
  }

  &__slide--6 {
    background-position-y: -360px;
  }

  &__slide--7 {
    background-position-y: -432px;
  }

  &__slide--8 {
    background-position-y: -504px;
  }
}

.partners {
  @media screen and (min-width: 405px) {
    &__list {
      grid-template-columns: repeat(2, 180px);
    }
  }

  @media screen and (min-width: 600px) {
    &__list {
      grid-template-columns: repeat(3, 180px);
    }
  }

  @media screen and (max-width: 405px) {

    &__list {
      grid-template-columns: repeat(2, 140px);
    }

    &__slide {
      width: 140px;
      height: 60px;
      background-size: 275px;
    }

    &__slide--1 {
      background-position-y: 0px;
    }

    &__slide--2 {
      background-position-y: -52px;
    }

    &__slide--3 {
      background-position-y: -110px;
    }

    &__slide--4 {
      background-position-y: -160px;
    }

    &__slide--5 {
      background-position-y: -217px;
    }

    &__slide--6 {
      background-position-y: -270px;
    }

    &__slide--7 {
      background-position-y: -380px;
    }

    &__slide--8 {
      background-position-y: -435px;
    }
  }
}