.partners {

  overflow-x: hidden;
  padding: 0 2px;

  &__list {
    padding: 0;
    margin: 0 10px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    // gap: 20px;
    z-index: 2;
    will-change: transform;
    touch-action: pan-y;
  }

  &__item {
    margin: 0;
    // flex: 0 0 auto;
    margin: 5px;
  }

  &__slide {
    height: 72px;
    width: 180px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    margin: 5px auto;
    background-color: #fff !important;
    background-blend-mode: inherit;
    background-position-x: 0;
  }

  &__slide--1 {
    background-position-y: 0;
  }

  &__slide--2 {
    background-position-y: -72px;
  }

  &__slide--3 {
    background-position-y: -144px;
  }

  &__slide--4 {
    background-position-y: -216px;
  }

  &__slide--5 {
    background-position-y: -288px;
  }

  &__slide--6 {
    background-position-y: -360px;
  }

  &__slide--7 {
    background-position-y: -432px;
  }

  &__slide--8 {
    background-position-y: -504px;
  }
}