nav.breadcrumbs {
  overflow: hidden;
  padding-bottom: 0;

  .breadcrumbs__list {
    overflow-x: auto;
    display: flex;
    padding: 15px;

    .breadcrumbs__item > .link {
      font-size: 14px;
      color: #a4a4a4;
      text-wrap: nowrap;
    }
  }

  .breadcrumbs__item:not(:last-child) > .link::after {
    content: ">";
    margin: 0 15px;
    color: #a4a4a4;
  }
}
