nav.breadcrumbs {
  overflow: hidden;
  padding-bottom: 0;

  .breadcrumbs__list {
    overflow-x: auto;
    padding: 15px;
    list-style: none;
    margin: 0;
    white-space: nowrap;
  }

  .breadcrumbs__item {
    margin-left: 0;
    display: inline-block;

    >* {
      font-size: 14px;
      color: #a4a4a4;
      white-space: nowrap;
      margin: 0;
      padding: 0;
      text-indent: 0;
    }
  }

  .breadcrumbs__item:not(:last-child)::after {
    content: ">";
    color: #a4a4a4;
    padding: 0 10px;
  }
}