nav.breadcrumbs {
  overflow: hidden;
  padding-bottom: 0;

  .breadcrumbs__list {
    overflow-x: auto;
    display: flex;
    padding: 15px;
    list-style: none;
    gap: 30px;
    margin: 0;
  }

  .breadcrumbs__item{
    margin-left: 0;
  }

  .breadcrumbs__item:not(:first-child) {
    padding-left: 20px;
  }

  .breadcrumbs__item>.link {
    font-size: 14px;
    color: #a4a4a4;
    white-space: nowrap;
  }

  .breadcrumbs__item:not(:first-child)::marker {
    content: ">";
    color: #a4a4a4;
  }
}