.breadcrumbs {
  overflow: hidden;
  padding-bottom: 0;

  .breadcrumbs__list {
    overflow-x: auto;
    padding: 15px;
    list-style: none;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 0;
  }

  .breadcrumbs__item {
    display: inline-flex;
    align-items: center;


    >* {
      font-size: 14px;
      color: #a4a4a4;
      white-space: nowrap;
      margin: 0;
      padding: 0;
      text-indent: 0;
    }
  }

  .breadcrumbs__item:not(:first-child)::before {
    content: "";
    border: solid #a4a4a4;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg) translate(-1px, -1px);
    margin: 0 var(--page-gutter);

  }
}