@use "../base/variable" as *;

.contacts {
  font-size: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $second-text;
  text-align: center;
  overflow: hidden;
  max-height: calc(var(--snoska-height) - 32px);

  &>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, height 0.25s ease;
  }

  &__logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo-icon {
    height: 80px;
    margin-bottom: 10px;
  }

  &__text {
    margin-top: 10px;
    margin-bottom: 8px;
  }

  &__subtext {
    margin: 4px 0px;
    font-size: 13px;
    color: #212121d7;
  }

  &--visible {
    transform: translateY(0);
  }

  &__group {
    width: 100%;
    padding: 0 15px;
    margin-top: 20px;
  }

  &__group:first-child{
    margin-top: 5px;
  }

  &__close-btn {
    z-index: 9999;
    padding: 18px;
    margin-left: auto;
    position: fixed;
    top: 0;
    right: 0;
  }

  &__close-btn-icon {
    width: 18px;
    height: 18px;
  }

  &__group--info {
    display: flex;
    flex-direction: column;

    div {
      .contacts__text:last-child {
        margin-top: 2px;
      }
    }
  }

  &__group--phones {
    .contacts__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 4vh;
      margin: 0;
    }

    .contacts__item {
      display: flex;
      flex-direction: column;
    }

    .contacts__link {
      font-size: 17.5px;
      color: $accent-color;
    }

    .contacts__desc {
      margin-top: 3px;
      font-size: 13px;
    }

    .contacts__desc:nth-child(2) {
      font-size: 16px;
    }
  }

  &__social-icon {
    width: 32px;
    height: 32px;
  }

  &__group--button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;

    .contacts__button {
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50%;
      border: 1px solid #aaa;
      max-width: 250px;
    }

    .contacts__button-icon {
      width: 20px;
      height: 20px;
      transform: rotate(-90deg);
    }
  }

  &__group--social {
    padding: 0;
    border-top: 0.25px solid #e2e2e2;

    .contacts__social-list {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
    }

    .contacts__social-link {
      display: block;
      padding: 16px 32px;
      line-height: 0;
    }

    .contacts__social-icon {
      width: 32px;
      height: 32px;
      fill: #212121;
    }
  }
}

.contacts>div:first-child {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: flex-start;
  max-height: fit-content;
  gap: 15px;
}

.footnote__cont:has( .contacts) {
    padding: 0 !important;
  }