@use "../base/variable" as *;

.connect {
  border-top: 0.5px solid #e3e3e3;
  padding: 32px 15px;

  &__list,
  &__item {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__item {
    gap: 20px;

    p {
      font-size: 16px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 19px !important;
  }
}

.footer-info {
  display: flex;
  flex-direction: column;

  &__disclaimer {
    font-size: 14px;
    padding: 16px 15px;
  }

  &__disclaimer:first-child {
    margin-bottom: -20px;
  }

  &__copyright {
    font-size: 14px;
    padding: 0 15px;
    padding-bottom: 16px;
    margin-left: auto;

    span {
      color: #848484;
    }
  }
  &__item {
    padding: 15px;
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 0.5px solid #e3e3e3;
  }
}

.footer-menu {
  z-index: 1;
  padding: 0;
  overflow: hidden;
}

.tab {
  position: relative;

  & input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  &__label .arrow {
    width: 16px;
    height: 16px;
    transition: transform 0.3s;
    fill: $second-text;
  }

  & input:checked + .tab__label .arrow {
    transform: rotate(180deg);
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease;
  }

  & input:checked ~ &__content {
    max-height: 300px;
  }

  .tab:has(input:checked) + .tab label {
    border-top: 0.25px solid #5a60708a;
  }

  &__content li a {
    display: block;
    padding: 18px;
    color: $text-color;
    background-color: $second-accent;
    text-decoration: none;
    color: #fefefe;
  }
}

.tab__label,
.footer-menu > li > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  font-size: 18px;
  color: #fefefe;
  background: $second-accent;
  font-weight: 600;
  border-top: 0.25px solid #5a60708a;
  color: white;
}

@media screen and (max-width: 359px) {
  .connect {
    padding: 32px 10px;
  }

  .footer-info {
    &__disclaimer {
      padding: 16px 10px;
    }

    &__copyright {
      padding: 0 10px;
      padding-bottom: 16px;
    }

    &__item {
      padding: 10px;
    }

    &__link {
      font-size: 14px;
    }
  }
}
