@use "../base/variable" as *;

.input {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__label {
    display: flex;
    flex-direction: column;
  }

  &__label-main {
    font-size: 16px;
  }

  &__extra,
  &__label-extra {
    font-size: 12px;
    color: $accent-color;
    font-weight: 600;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid lightgrey;
      outline: none;
    }

    input::placeholder {
      color: #ccc;
    }
  }

  &__error {
    color: red;
  }

  &__description {
    font-size: 13px;
    color: #808080;
    width: fit-content;
    line-height: 1;
  }

  &__clue {
    font-size: 13px;
    color: #808080;
    border-bottom: 1px dotted;
    width: fit-content;
    line-height: 1;
  }
}

.select {
  max-width: 100%;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  border: 1px solid lightgrey;
  outline: none;
}