@use "../base/variable" as *;

.openable-section__label {
  display: flex !important;
  align-items: center;
  width: 100%;
  gap: var(--page-gutter);

  .openable-section__title-text {
    font-size: inherit;
    font-family: "pfdintextcomppro-regular", sans-serif;
    font-weight: 400;
  }
}

.openable-section__title.openable-section__title ~ * {
  max-height: 0;
  opacity: 0;
  display: none;
}

.openable-section__title.openable-section__title:has(.openable-section__control:checked) ~ * {
  max-height: max-content;
  opacity: 1;
  display: block;
}

.openable-section__title.openable-section__title:has(.openable-section__control:checked)
  .openable-section__label
  .openable-section__icon {
  transform: rotate(180deg);
}

.openable-section__title.openable-section__title:has(.openable-section__control:checked)
  .openable-section__label
  .openable-section__icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.openable-section__title.openable-section__title .openable-section__label .openable-section__icon {
  transition: transform 0.3s ease;
}

h1.title span {
  font-family: $font-family;
  font-size: 26px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: max-height 0.3s ease;
}

h1.title:has(>.clamped-text > .clamped-text__control:checked) span {
  -webkit-line-clamp: unset;
}
